body
{
    margin:0 auto;
    width:1200px;
}
#employer_page
{
    float:left;
    margin:10px;
    width:1180px;
    border:1px #3f3a30 solid;
    border-radius:5px;
    padding-bottom:20px;
  
}
#employer_header
{
    float:left;
    margin:0px 10px;
    width:1180px;
    height:100px;
    background:url(../employer_images/logo.png) left top no-repeat;
} 
#employer_menu
{
    float:left;
    width:1180px;
    border-top:5px #a5090a solid;
    border-bottom:1px #3f3a30 solid;
}
#employer_menu ul
{
    margin: 0;
    padding: 0;
}

#employer_menu ul li
{
    display: inline;
}

#employer_menu li a
{
    display: block;
    float: left;
    padding:6px 20px;
    font-size:12px;
    color: #013a9f;
    font-weight:bold;
    text-decoration: none;
    border-right:1px solid #3f3a30;
}
#employer_menu li a:hover {color:#a5090a; } 
#employer_top
{
    float:left;
    margin:5px 10px;
    width:1160px;
}
#employer_top .left h3
{
    float:left;
    padding:5px 10px 5px 10px;
    margin:0px;
    text-align:center;
    color:#006600;
    font-size:20px;
    width:200px;
} 
#employer_top .middle h3
{
    float:left;
    padding:5px 10px;
    margin:0px;
    font-size:16px;
    color:#003366;
    width:750px;
}  
#employer_top .right a
{
    float:right;
    margin:0px;
    width:100px;
    color:#006600;
    text-decoration:none;
}
#employer_content
{
    float:left;
    margin:10px 0px;
    width:1180px;
}
#employer_content #leftside
{
    float:left;
    margin:0px 10px;
    width:200px;
    border:1px solid #3f3a30;
    border-radius:5px;
}
#employer_content #leftside h2
{
    float:left;
    margin-top:0px;
    text-align:center;
    width:200px;
    color:#006600;
    border-bottom:1px solid #3f3a30;
}    
#employer_content #leftside ul li
{
    list-style-type:none;
    list-style-position:inside;
    list-style-image:url(../employer_images/jobimg.png);
}
#employer_content #leftside ul li a
{
    text-decoration:none;
    color:#003366;
}  
#employer_content #leftside ul li a:hover
{
    text-decoration:none;
    color:#FF3333;;
}      
#employer_content #rightside
{
    float:right;
    margin-right:10px;
    padding:5px 10px;
    width:920px;
    border:1px solid #3f3a30;
    border-radius:5px;
}  
#employer_footer
{
    float:left;
    margin:10px;
    width:1180px;
    height:20px;
    border:1px #3f3a30 solid;
    border-radius:5px;
}