
body {
    margin-top: 20px;
}
#pageBorder {
    border: 1px solid #BAB7B7;
}
#pageBorder2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #727272 #727272;
    border-image: none;
    border-right: 3px solid #727272;
    border-style: none solid solid;
    border-width: 0 3px 3px;
    width: 830px;
}
#leftBorder {
    border-left: 1px solid #969191;
}
#rightBorder {
    border-right: 1px solid #969191;
}
#topBorder {
    border-top: 1px solid #969191;
}
#bottomBorder {
    border-bottom: 1px solid #969191;
}
#tblHeaderLeftSide {
    color: #4D8DE2;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
}
#dotBorderHorz {
    color: #4D8DE2;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
}
#barHeader {
    color: #893636;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    padding-top: 14px;
}
#resourceImgMargin {
    margin-bottom: 5px;
}
#secondaryHeaader {
    color: #976A44;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
}
.ResourceDivHeight {
    height: 170px;
}
.tblPadding {
    padding: 10px;
}
.resourceName {
    color: #6E6E6E;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
.resourceSector {
    color: #3792E2;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.resourceProfile {
    color: #6E6E6E;
    font-family: arial;
    font-size: 11px;
    text-align: justify;
}
.note {
    color: #CF4B40;
    font-family: arial;
    font-size: 10px;
}
.txtCommon {
    color: #6E6E6E;
    font-family: arial;
    font-size: 12px;
    text-align: justify;
}
.txtCommon2 {
    color: #6E6E6E;
    font-family: arial;
    font-size: 11px;
}
.workShopHeader {
    color: #57616E;
    font-family: tahoma;
    font-size: 16px;
    font-weight: bold;
}
.copyright {
    color: #6E6E6E;
    font-family: arial;
    font-size: 10px;
}
.organizedBy {
    background-color: #DFDEDE;
    color: #7D7D7D;
    font-weight: bold;
    height: 54px;
    padding-left: 27px;
    padding-right: 27px;
    text-align: right;
    width: 380px;
}
.workshopTitle {
    color: #18569F;
    font-family: tahoma;
    font-size: 18px;
    font-weight: bold;
}
