body
{
    margin:0 auto;
    background:#f2f2f2 url(../images/header.png) left top repeat-x;
} 

#container
{
    margin: 0px auto;
    margin-top:50px;
    width: 1000px;
}


#header
{
    padding:20px;
    margin-top:20px;
}

#header h1 
{
    margin: 0; 
}
span
{
    margin-right: 2px;
    color: red;   
}
#navigationbar
{
    float: left;
    margin-top: -12px;
    position:absolute;
    z-index:1;
}

#navigationbar ul
{
    margin: 0px 0px 0px 10px;
    padding: 0;
    float: left;
}

#navigationbar ul li
{
    display: inline;

}

#navigationbar ul li a
{
    display: block;
    background:url('../images/button.png') repeat-x;
    padding: 8px 17.5px;
    font-size:12px;
    color: #000000;
    font-weight:bold;
    text-decoration: none;
    /*border-right: 2px solid #9c9c9d;*/
}

#navigationbar li a:hover { background:#D9E021;}


#hdr_menu
{
    margin-left:15px;
    width: 100%;
    height: auto;
    background-color: #666666;  
}

#hdr_menu ul li
{
    display: inline;
    padding-left:60px;
    padding-right:100px;
    font-size: 20px;
    color:  #FAA819;
    font-family: "century gothic";
}

#content
{
    float: left;
    margin-top: 8px;
    margin-left: -20px;
    width: 1050px;
    height: auto;
    background-color: #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;
}

#left_content
{
    float: left;
    margin-left: 5px;
    width:70%;
    background-position: center;
}
#left_content_st
{
    float: left;
    width:70%;
}
#left_content_st p
{
    text-align: center;
    margin-left: 20%;
    font-family: "century gothic";
    color: #000;
    font-size: 22px;
    font-weight: bold;
}

#lftyellowdv
{
    float: left;
    margin-top:40px;
    margin-left: 10px; 
    margin-bottom: 10px;
    width:100%;
    background-color: #F15A24;
}

#under_lfyellowdv
{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}


#image_table_text
{
    float: left;
    margin-left: -5px;
    width: 102%;
    height: 60%;
}

#image_table
{
    float: left;
    width: 192px;
    height: 370px;
}

#yellowdiv
{
    float: left;
    margin-top: -10px;
    width: 192px;
    height: 90px;
    background: url(../images/tabimg.png) no-repeat;
}
#reddiv
{
    float: left;
    width: 167px;
    height: 40px;
    background-color: #F15A24;
}
#reddiv p
{
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    font-family: "century gothic";
}
#tablee
{
    float: left;
    width: 167px;;
    height: 250px;
    background-color: #D9E021;
}
#tablee tr td
{
    width: 255px;
    text-align: center;
    font-family: century gothic;
    border-bottom: 1px  #F15A24 solid;
    margin-bottom: 5px;
}
#tablee tr td a
{
    text-decoration: none;
}
#text_header
{
    float: left;
    margin-left: 20px;
    width: 68%;
    height: 100%;
}
#text_header h3
{
    color:  #F15A24;
    margin-top: 40px;
    text-align: justify;
    font-size: 25px;
    font-family: "century gothic";
}
#text_header p
{
    text-indent: 40px;
    text-align: justify;
    font-size:  15px;
    font-family: "century gothic";
}

#stimage_text
{
    float: left;
    width: 47%;
    margin:15px 0px 15px 15px;
    height:230px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

#stimage
{
    float: left;
    width: 120px;
    height :230px;
    border-radius: 20px;
    background:url('../images/student.png') no-repeat;
}
#stimage_hdr
{
    float: left;
    width: 60%;
    height: auto;
}
#stimage_hdr p
{
    float:left; 
    margin: 10px 0px 0px 0px;
}
#stimage_content
{
    float: left;
    width: 60%;
    height: 120px;
}

#joinnow
{
    float: right;
    margin-right: 10px;
    margin-top: -2%;
    width: 70px;
    height:25px;
    border-radius:10px;
    background-color: #D9E021;
}
#joinnow p
{
    float: left;
    margin-left: 6px;
    margin-top: 3px;
    font-size: 80%;
    font-family: 'denmark regular';
}

#tutrimage_text
{
    float: left;
    margin:15px 0px 15px 15px;
    width: 47%;
    height:230px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
#tutrimage
{
    float: left;
    width: 120px;
    height :230px;
    border-radius: 20px;
    background:url('../images/tutor.png') no-repeat;
}
#tutrimage_hdr
{
    float: left;
    width: 60%;
    height: auto;
}

#tutrimage_content
{
    float: left;
    width: 60%;
    height: 120px;
}

#lfbrows
{
    float: left;
    width: 49%;
    margin-left: 10px; 
    height :250px;
    border-radius: 20px;
    border: 2px #D9E021 solid;  
}
#lfbrowsheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #808080;
}
#images
{
    float: left;
    width: 100%;
    height: auto;
    padding-top: 2px;
    padding-left: 5px;
}
#fst_images
{
    float: left;
    width: 29%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}
#fst_images a img 
{
    float: left; 
    padding-left: 12px; 
    width: 60px;
    height: 52px;
}
#fst_images p
{
    clear: left;
    text-align: center;
    margin-bottom: 12px; 
    color: #7198D5;
    font-weight: bold;
}
#lfexplor
{
    float: right;
    width: 48%;
    margin-right: -8px;
    height :250px;
    border-radius: 20px;
    border: 2px #D9E021 solid; 
    margin-bottom: 10px;
}
#lfexplorheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #808080;
}
#map
{
    float:left;
    margin: 6px;
    width: 50%;
    height: 80%;
    background: url('../images/map.png') no-repeat;
    border-right: 1px #D9E021 solid;
}
#division
{
    float: right;
    width: 45%;
    height: 83%;
}
#division p
{
    float: left;
    margin: 0px;
    padding-top: 10px;
}
#division p a
{
    text-decoration: none;
    font-size: 90%;
    color: #000000;
}
#division p a:hover
{
    color:  #D9E021;
}
#jodinfo
{
    float: left;
    margin: 10px 8px 0px 10px;
    width:32%;
    height: 170px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border: 2px #D9E021 solid; 
    background-color: #F2F2F2;
}
#jodinfoheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;   
}
#jodinfoheader p
{
    text-align: center;
    margin-top: 2px;
    font-size: 120%;
}
#tabil
{
    float: left;
    width: 100%;
    height: 75%;
    background-color: #F2F2F2;
}
#tabil tr td
{
    width: 255px;
    text-align: center;
    border-bottom: 1px gray solid;
}
#tabil tr td a
{
    text-decoration: none;
}
#stconsutancy
{
    float: left;
    width:32%;
    height :170px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border: 2px #D9E021 solid;   
}
#stconsutancyheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;   
}
#stconsutancyheader p
{
    text-align: center;
    margin-top: 2px;
    font-size: 120%;
}
#consult_image
{
    float: left;
    width: 100%;
    height: 75%;
    background: url('../images/img2.png') no-repeat;
}
#trainfacility
{
    float: right;
    margin-right: -10px;
    width:32%;
    height :170px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border: 2px #D9E021 solid; 
}

#trainfacilityheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;   
}
#trainfacilityheader p
{
    text-align: center;
    margin-top: 2px;
    font-size: 120%;
}
#train_facility
{
    float: left;
    width: 100%;
    height: 75%;
    background: url('../images/img1.png') no-repeat;
}
#right_content
{
    float:left;
    margin-left:12px;
    width: 28%;
    padding-left: 3px;
}

#tutrsrch
{
    float:left;
    margin-left:10px;
    margin-top: 40px;
    width:90%;
    border-radius:10px;
    background-color: #F2F2F2;
}
#tutrsrch form
{
    float:left;
    width: 94%;
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;
}
#tutrsrch form p
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
#tutrsrch form p input
{
    background:  #D9E021;
    font-weight: bold;
}
form table td img
{
    float: right; 
    width:17px;
    height: 22px;
}
table tr td select
{
    float: left;
    width: 150px;
    height: 25px;
    border-radius: 7px;
    background-color: #E9EAEB;
}
#tutrsrcheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;
}
#tutrsrcheader p
{
    font-size: 20px;
    font-family: 'denmark regular';
    text-align: center;
    margin-top: 8px;
}

#stdsrch
{
    float:left;
    margin-left:10px;
    margin-top: 40px;
    width:90%;
    border-radius:10px;
    background-color: #F2F2F2;
}
form
{
    float:left;
    width: 94%;
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;
}
#stdsrch form
{
    float:left;
    width: 94%;
    height: 100%;
    padding-left: 15px;
    padding-top: 10px;
}
#stdsrch form p
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
#stdsrch form p input
{
    font-weight: bold;
    background: #F15A24;
}
form table td input
{
    border:1px #D9E021 solid;
    width: 150px;
    border-radius: 4px;
    height: 23px;
    background-color: #eff9ff;
}

form table td textarea
{
    width: 150px;
    height: 23px;
    border-radius: 4px;
    background-color: #eff9ff; 
}
form table td img
{
    float: right; 
    width:17px;
    height: 22px;
}
form table tr td select
{
    float: left;
    width: 150px;
    height: 23px;
    border-radius: 2px;
    background-color: #eff9ff;
}
#stdsrcheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #F15A24;
}
#stdsrcheader p
{
    font-size: 20px;
    font-family: 'denmark regular';
    text-align: center;
    margin-top: 8px;
}

#resultinfo
{
    float:left;
    margin-left:10px; 
    margin-top: 10px;
    border-radius:10px;
    width: 90%;
    height: 160px; 
    background-color:#F2F2F2;
}
#resultheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;  
}
#resultheader p
{
    font-size: 20px;
    font-family: 'denmark regular'; 
    text-align: center;
    margin-top: 8px;
}
#TV
{
    float:left;
    margin-left:10px;
    width:90%;
    height:200px;
    background-color: #F2F2F2;
} 
#TV img
{
    width: 100%;
    height: 100%;
}

#gallery
{
    float: left;
    width: 1012px;
    margin:0 0px;
    padding: 19px;
    height:135px;
    background-color: #f2f2f2;
} 
#sub_gallery
{
    width: 950px;
    height: 110px;
    border: 1px;
    border-radius:10px;
    padding: 10px 30px 10px 30px; 
    background-color: #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;

}

#mymoon_sub_gallery
{
    width: 950px;
    height: 110px;
    border: 1px;
    border-radius:10px;
    padding: 10px 30px 10px 30px; 
    background-color:  #D9E021;
    box-shadow:3px 3px 10px 5px #666666;

}

#footer {
    color: #FFFFFF;
    background:#42453D url(../images/futter.png) left top repeat-x;
    margin-top:20px;
    height:380px;
    font-weight: bold;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer_div
{
    width:1000px;
    margin:0 auto;
    padding:35px 10px 0px 10px;
}
#clear
{
    clear:both;
}
#std_acc_table
{
    margin-left: 12px;
    padding-top: 8px;
    width: 140%;
    margin-top:-10px;
    /*border: 1px #D9E021 solid;*/
}
#std_acc_table tr th
{
    font-family:"century gothic";
    font-size: 20px;
    background-color: #D9E021;
    color:  #000;
    font-weight: normal;
}
#std_acc_table tr td
{
    margin: 10px auto;
    padding:5px;
    font-size:15px;
    font-family: "century gothic";
    /*border:#CCCCCC solid 1px;*/
}
#teacher_search_table
{
    float: left;
    margin-top: 40px;
    width:100%;
}
#teacher_search_table tr th
{
    background-color:#FFFFFF;
    color:#336699;
    border:#336699 solid 1px;
}
#teacher_search_table tr td
{
    padding:5px;
    font-family: "century gothic";
    font-size:94%;
    border:#CCCCCC solid 1px;
}
#std_search_table
{
    margin-top: 40px;
    width:100%;
}
#std_search_table tr th
{
    background-color:#FFFFFF;
    color:#336699;
    border:#336699 solid 1px;
}
#std_search_table tr td
{
    padding:5px;
    font-size:94%;
    font-family: "century gothic";
    border:#CCCCCC solid 1px;
}


#division_search_table
{
    margin-top: 40px;
    width:100%;
}
#division_search_table tr th
{
    background-color:#FFFFFF;
    color:#336699;
    border:#336699 solid 1px;
}
#division_search_table tr td
{
    padding:5px;
    font-size:94%;
    font-family: "century gothic";
    border:#CCCCCC solid 1px;
}
