/*html{
     This image will be displayed fullscreen 
    background: url(../images/bg.png) no-repeat center center;

     Ensure the html element always takes up the full height of the browser window 
    min-height:100%;

     The Magic 
    background-size:cover;
}*/

/*body{
     Workaround for some mobile browsers 
    min-height:100%;
}*/
body
{
    margin: 0 auto;
    background:#f2f2f2 url(../images/footer.png) no-repeat center bottom;
}
#page
{
    margin:0 auto;
    width:1000px;
} 
/*#top
{
    margin:0 auto;
    height: 20px;
    background: #000;
    width:1000px;
} */
#header
{
    margin:0 auto;
    width:1000px;
} 
#headerleft
{
    float:left;
    margin-top:10px;
    width:600px;
} 
#headerright
{
    float:right;
    width:300px;
} 
#navigation
{
    z-index: 100;
    float:left;
    width:1000px;
    margin-top:-61px;
}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    display: inline;

}

#navigation li a
{
    display: block;
    float: left;
    padding:6px 10px;
    color: #FFFFFF;
    text-decoration: none;
    border-right: 2px solid #161c1a;
    background:#8f8e8e;
}

#navigation li a.active, #navigation li a:hover {background:#766e65; } 
#contentpage
{
    float:left;
    margin:-20px 0px 0px 0px;
    width:1000px;
    height:auto;
    box-shadow:3px -5px 5px 5px #666666;
} 
#galleryadd
{
    float:left;
    width:1000px;
    height: 10px;
    padding:10px 0px;
    background:#766e65;
} 
#content
{
    float:left;
    width:1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
} 
.image_border img
{
    border: 0;
}
#contentleft
{
    float:left;
    width:650px;
} 
#contentleft .job
{
    float:left;
    width:630px;
    margin:0px 10px;
    height:90px;
    background-image: url(../images/jobbg.png);
    background-color: #dad7c5;
}
#contentleft .img 
{
    float:left;
    width:650px;
    height:200px;
    border:1px solid #668899;
}
#contentleft .jobsearch
{
    float:left;
    width:650px;
    margin-left:50px;
    margin-top:10px;
}
#contentleft #jobcontent
{
    float:left;
    width:630px;
    margin:0px 10px 0px 10px;
    background:url(../images/jobcat.png) left top no-repeat;
    padding-bottom:10px;
}   
#contentleft .jobcategry
{
    float:left;
    width:270px;
}  
#contentleft .jobcategry h2
{
    margin-left:30px;
    margin-top:0px;
    font-size:14px;
    font-family:century gothic;
    font-weight: 100;
    width:100px;
    text-align:center;
    padding:5px 10px;;
    background:#766e65;
    color:#FFFFFF;
    border:1px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
}  
#contentleft .jobcategry ul 
{
    margin:0;
    padding:0;
} 
#contentleft .jobcategry ul li
{
    list-style-type:none;
    margin-left:10px;
    list-style-image:url('../images/jobimg.png');
    list-style-position:inside;
}  
#contentleft .jobcategry ul li a
{   font-family:century gothic;
    font-weight: 100;
    font-size:14px;
    margin-top:0px;
    text-decoration:none;
    color:#000000;
} 
#contentleft .jobcategry li a:hover
{
    color:#a5090a;
}
#contentleft #onlinetender
{
    float:left;
    width:630px;
    margin:0px 10px;
    background:#dad7c5;
    border:1px solid #8f8e8e;
    border-radius:5px;
} 
#contentleft .onlinetender
{
    float:left;
    width:270px;
}  
#contentleft .onlinetender h2
{
    margin-left:30px;
    margin-top:0px;
    font-size:14px;
    font-family:century gothic;
    font-weight: 100;
    width:100px;
    text-align:center;
    padding:5px 10px;;
    background:#766e61;
    color:#FFFFFF;
    border:1px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
} 
#contentleft .onlinetender table
{
    float:left;
    width:630px;
    margin-bottom:10px;
    
}  
#contentleft .onlinetender table tr th
{    font-family:century gothic;
     font-weight: 100;
     color:#52514a;
} 
.onlinetendert table
{
    float:left;
    background:#fff;
}  
.onlinetendert table tr td
{
    font-family:century gothic;
    font-weight: 100;
    color:#e6e6e6;
} 
.onlinetendert table tr td a
{
    text-decoration:none;
    color:#003366;
} 
.onlinetendert table tr td a:hover
{
    text-decoration:underline;
    color:#990000;
} 
#contentleft #joblink
{   font-family:century gothic;
    font-size: 13px;
    float:right;
    margin-top: -1px;
    margin-right:10px;
    background:#766e65;
    width:300px;
    border:1px;
    border-radius:0px 0px 10px 10px;
}
#contentleft #joblink .q
{
    float:left;
    width:130px;
} 
#contentleft #joblink .q h4
{
    color:#000;
    margin-top:5px;
    padding:0px 10px;
}  
#contentleft #joblink .q ul
{
    margin-top:-10px;
    padding:0;
}
#contentleft #joblink .q ul li
{
    list-style-type:none;
    list-style-image:url('../images/jobimg.png');
    list-style-position:inside;
} 
#contentleft #joblink .q ul li a
{
    color:#FFFFFF;
    text-decoration:none;
} 
#contentleft #joblink .q ul li a:hover
{
  color:#a5090a;
}
#highlight_jobs
{
    float: left;
    width: 640px;
    margin-top: 30px;
}
#highlight_jobs_header
{
    float: left;
    width: 640px;
    height: 80px;
    background:#dad7c5;
    margin-left: 10px;
}
#highlight_jobs_header_lefttop
{
    float: left;
    width: 160px;
    height: 35px;
    background: #766e61;
    border-radius: 0px 0px 20px 20px;
    margin-left: 20px;
}
#highlight_jobs_header_lefttop p
{
    color: #fff;
    font-family: euphemia;
    font-size: 12pt;
    font-family:century gothic;
    font-weight: 100;
    margin-top: 0px;
    margin-left: 10px;
   
}
#highlight_jobs_header_navigation
{
    float:left;
    width:650px;
    margin-top: 10px;
    margin-left: 20px;
}
#highlight_jobs_header_navigation ul
{
    margin: 0;
    padding: 0;
}

#highlight_jobs_header_navigation ul li
{
    font-family:century gothic;
    font-weight: 100;
    display: inline;
    font-size: 14px;
    
}

#highlight_jobs_header_navigation li a
{
    display: block;
    float: left;
    padding:0px 10px;
    color: #766e65;
    text-decoration: none;
    border-right: 2px solid #fff;
}

#highlight_jobs_header_navigation li a:hover {color:#a5090a; }
#highlght_job_container
{
    float: left;
    width: 640px;
    padding-top: 5px;
}
#job_table
{
    width: 200px;
    line-height: 8px;
}
#job_table_right
{
    width: 200px;
    line-height: 10px;
}
#hightlight_job_content_left
{
    float: left;
    width: 300px;
    margin-left: 10px;
}
#hightlight_job_content_right
{
    float: right;
    width: 300px;
}
#hightlight_job_content_left_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content1_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content1_header 
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content1_text
{
    width: 270px;
}
#hightlight_job_content1_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    margin-top: -10px;
    text-decoration: none;
}
#hightlight_job_content1_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content2
{
    float: left;
    width: 640px;
    height: 80px;
    background: #fff;
    margin-left: 10px;
}
#hightlight_job_content2_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content2_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content2_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content2_text
{
    float: left;
    width: 270px;
    margin-top: -10px;
}
#hightlight_job_content2_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;

    text-decoration: none;
}
#hightlight_job_content3
{
    float: left;
    width: 640px;
    height: 80px;
    background: #e5b5b5;
    margin-left: 10px;
}
#hightlight_job_content3_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content3_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content3_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content3_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content3_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    text-decoration: none;
}
#hightlight_job_content4
{
    float: left;
    width: 640px;
    height: 80px;
    background: #fff;
    margin-left: 10px;
}
#hightlight_job_content4_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content4_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content4_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content4_text
{
    width: 270px;
    float: left;
}
#hightlight_job_content4_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    margin-top: -10px;
    text-decoration: none;
}
#hightlight_job_content5
{
    float: left;
    width: 640px;
    height: 80px;
    background: #e5b5b5;
    margin-left: 10px;
}
#hightlight_job_content5_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content5_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content5_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content5_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content5_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    text-decoration: none;
}
#hightlight_job_content1_right
{
    float: right;
    width: 300px;
    margin-top: -42px;
    margin-right: 25px;
}
#hightlight_job_content1_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content1_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content1_right_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content1_right_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content1
{
    background: #999a9c;
}
#hightlight_job_content1_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content2_right
{
    float: right;
    width: 300px;
    margin-top: -42px;
    margin-right: 25px;
}
#hightlight_job_content2_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
}
#hightlight_job_content2_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content2_right_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content2_right_text
{
    width: 270px;
    float: left;
    margin-top: -12px;

}
#hightlight_job_content2_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content3_right
{
    float: right;
    width: 300px;
    margin-top: -65px;
    margin-right: 25px;
}
#hightlight_job_content3_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content3_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content3_right_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content3_right_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content3_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content4_right
{
    float: right;
    width: 300px;
    margin-top: -55px;
    margin-right: 25px;
}
#hightlight_job_content4_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content4_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content4_right_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content4_right_text
{
    width: 270px;
    margin-top: -10px;
}
#hightlight_job_content4_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content5_right
{
    float: right;
    width: 300px;
    margin-top: -55px;
    margin-right: 25px;
}
#hightlight_job_content5_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content5_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content5_right_header p
{
    font-size: 9pt;
    font-family: euphemia;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content5_right_text
{
    width: 270px;
    margin-top: -10px;
}
#hightlight_job_content5_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: euphemia;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#contentright
{
    float:right;
    width:350px;

}
#contentright_login
{
    float: right;
    width: 347px;
    background: url(../images/login.png);

}
#contentright_login_header
{
    float: left;
    margin-top: 2px;
    width: 350px;
    height: 20px;
}
#contentright_login_header p
{
    font-family: euphemmia;
    font-size: 10pt;
    color: #000;
    text-align: center;
    margin-top: 1px;
    margin-right: 0px;
}
#leftl
{
    float: left;
    width: 125px;
    margin: 5px 0px 5px 20px;
    height: 109px;
    background: url(../images/crt.png)no-repeat;
}
#leftl p
{
    margin:80px 0px 0px 22px;

}
#leftl a
{
    text-decoration: none;
    font-size: 13px;
    
    color:#fff;
}
#leftl a:hover
{
    color: chartreuse;
}
#rightr
{
    float: right;
    width: 170px;
}
#user_login_content
{
    float: right;
    margin-top:10px
}
#user_login_content_logbtn
{

    float: right;
    margin-right: 10px;
}
#righte{
     float: right;
     /* width: 125px;*/
   
/*    height: 109px;*/
     
    
}
#righte p{
    
     margin:8px 30px 0px 0px;
     
}
#righte a{
    font-family:euphemmia;
    text-decoration: none;
    font-size: 13px;
    color:#000;  
}

#righte a:hover{
    color: rgb(165, 9, 10);
}

#advertisement_top
{
    float: right;
    width: 350px;
}
#advertisement_top_header
{
    float: left;
    width: 350px;
    height: 35px;
    background: #025568;
}
#advertisement_top_header_text
{
    float: left;
    width: 200px;
}
#advertisement_top_header_text p
{
    font-family: euphemia;
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-left: 20px;
}
#advertisement_top_content
{
    float: left;
    width: 347px;
    height: 300px;
    background: #f0f0f0;
    margin-left: 3px;
}
#advertisement_top_content_img1
{
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 25px;
}
#advertisement_top_content_img2
{
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 35px;
}
#advertisement_top_content_img3
{
    
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 25px;
}
#advertisement_top_content_img4
{
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 35px;
}
#training
{
    float: right;
    width: 347px;
    margin-left: 3px;
    margin-top: -20px;
}
#training_header
{
    float: left;
    width: 347px;
    height: 35px;
    background: #d2d2d2;
}
#training_header_text
{
    width: 80px;
    height: 25px;
    margin-left: 15px;
    margin-top: -10px;
}
#training_header_text p
{
    font-family: euphemia;
    font-size: 15px;
    font-weight: bold;
}
#training_content
{
    
    background: none repeat scroll 0 0 #DAD7C5;
    border: 1px solid #8F8E8E;
    float: left;
    width: 345px;
    height: 300px;
    
   background: url(../images/training.png);
}
#training_content_left
{
    float: left;
    width: 170px;
    height: 300px;
    margin-left: 5px;
    margin-top: -10px;
}
#training_content_right
{
    float: right;
    width: 175px;
    height: 300px;
    margin-top: -10px;
    margin-right: -5px;
}
#training_more
{
    float: left;
    width: 347px;
    height: 40px;
    background: #fff;
    margin-top: 11px;
}
#training_more_redBar
{
    float: left;
    width: 347px;
    height: 20px;
    background: #766e65;
    margin-top: 10px;
}
#rightcontent_bottom_add  
{
    float: left;
    width: 350px;
    height: auto;
    margin-top: 38px;
}
#rightcontent_bottom_add1
{
    float: left;
    width: 350px;
    height: 60px;
    margin-top: 45px;
}
#rightcontent_bottom_add2
{
    float: left;
    width: 350px;
    height: 35px;
}
#rightcontent_bottom_add3
{
    float: left;
    width: 350px;
    height: 150px;
}
#footer_content
{
    float: left;
    width: 1000px;
    margin-top: 20px;
}
#footer_top
{
    float: left;
    width: 1000px;
    height: 20px;
    background: #047a7a;
}
#footer_content_container
{
    float: left;
    width: 1000px;
    height: 260px;
    background: #025568;
}
#footer_contents
{
    float: left;
    width: 1000px;
    margin-left: 50px;
    margin-top: 25px;
    clear: left;
}
#footer_bottom
{
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 0px 0px 15px 15px;
    background: #025568;
    margin-top: 1px;
}
#footer_last
{
    float: left;
    width: 100%;
    height: 35px;
    background: #766e65;
}
#footer_last_bottom
{
    float: left;
    width: 100px;
    height: 137px;
    
}
#footer_bottom_navigation
{
    float:left;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}
#footer_bottom_navigation ul
{
    margin: 0;
    padding: 0;
}
#footer_bottom_navigation ul li
{
    display: inline;
}
#footer_bottom_navigation li a
{
    display: block;
    float: right;
    padding:0px 10px;
    text-align: right;
    color:#FFFFFF;
    text-decoration: none;
    border-right: 1px solid #FFFFFF;
    font-family: euphemia;
    font-size: 7pt;
/*    pt is point*/
}
#footer_bottom_navigation li a:hover {color:#d6a201; }
