* {
    margin : 0;
    padding : 0;
}

body {
/*      background-image: -webkit-linear-gradient(bottom, #CCE0FF,#FFF); 
  background-image:    -moz-linear-gradient(bottom, #CCE0FF, #FFF); 
  background-image:     -ms-linear-gradient(bottom, #CCE0FF, #FFF); 
  background-image:      -o-linear-gradient(bottom, #CCE0FF, #FFF); 
  background-image:         linear-gradient(bottom, #CCE0FF, #FFF);*/
/*    background: #E0F0FF;*/
/*    background:#F5F5F7 url(../images/background.jpg) repeat-x top;*/

margin: 0 auto;
}

h1, h2, h3 {
    font-weight : normal;
    font-style : italic;
}

h1 {
    font-size : 2.2em;
}

h2 {
    font-size : 1.6em;
}

h3 {
    font-family : Georgia, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size : 1.5em;
    color : #333333;
    margin-top : 10px;
}

p {
    margin : 5px;
    padding : 5px;
    line-height : 160%;
}

a { 
    text-decoration: none; 
    color: #666;
}

a:hover, a:focus, a:active { 
    text-decoration: underline;
}

a:visited {
    color: #999;
    border-bottom : 1px dotted #999;
}

a:visited:hover, a:visited:focus, a:visited:active {
    color: #999;
    border-bottom : 1px solid #666;
}

#container {
    width : 1000px;
    margin: 0 auto;
/*    background: #f0f0f0;*/
}

#header{
    width:1000px;
    margin-left:0px;
    background:#FFFFFF;

}

#header h1, #header h2 {
    color : #333333;
    text-align : left;
    padding-top : 20px;
    padding-left: 50px;
}

#header h2 {
    padding-top : 10px;
}

#container_content{
    float: left;
    width: 1000px;
    
    border-top: 20px solid #006699;
    border-right: 1px solid #c8d7dc;
    border-left: 1px solid #c8d7dc;
    border-bottom: 1px solid #c8d7dc;
    border-radius: 10px;
   
    
    -webkit-border-radius: px; -moz-border-radius: px;font-family:arial, helvetica, sans-serif;  text-decoration:none; display:inline-block; 
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);

}

#main{
    float: left;
    width: 1000px;
   
}

#main_header
{
    float:right;
    width:70%;

}

#main_navigation
{
/*    float:left;
    width:96%;*/
    height: 2%;
    float: right;
    margin-right: 0%;
    width: 97.8%;
    background: #0099FF;
    border: 5px solid #0099FF;
   
    margin-top: 30px;
}
#main_navigation ul
{
    margin: 0;
    padding: 0;
}

#main_navigation ul li
{
    display: inline;
}
#main_navigation li a
{
    display: block;
    float: left;
    padding:6px 10px;
    color: #FFFFFF;
    text-decoration: none;
    border-right: 1px solid #fff;
    background:#0099ff;
}
#main_navigation li a:hover {background:#21201e; }

#sidebar {
    height: 350px;
    width : 20%;
    border : 1px solid #ccc;
    padding-left : 10px;
    font-size : 0.75em;
    font-style : italic;
    color : #cc9900;
    margin-bottom : 0;
    background-color: #001433;
    float: left;
    margin-top: 93px;
    border-radius: 20px 20px 0px 0px;
}

#sidebar h3 {
    font-size : 2em;
    color : #fff;
    margin-left: 5px;
    font-weight: bold;
}

#sidebar ul {
    list-style-type : none;
    margin : 10px 5px 5px 5px;
}

#sidebar li {
    margin : 20px 0 3px 0;
}

#sidebar ul li a:hover,#sidebar ul li a:focus,#sidebar ul li a:active {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

#sidebar ul li a:visited,#sidebar ul li a:hover,#sidebar ul li a:focus,#sidebar ul li a:active {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

#sidebar ul li a {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

#sidebar ul li a:visited:hover,#sidebar ul li a:visited:focus,#sidebar ul li a:visited:active {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}

/*#main_logged
{
    float: left;
    width: 50%;
    height: 60px;
    background: #000;
    margin-top: 20px;
    margin-left: 23px;
    border-radius: 20px 20px 0px 0px;
}*/

#main_logged_header
{
    float: left;
    width: 70%;
}
#main_logged_header p{
    text-align: left;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
#main_box
{
    float: left;
    width: 1000px;
/*    border: 10px solid #a5090a;*/
/*    margin-right: 1%;*/
/*     border: 10px solid #0099FF;*/
    
}

#content{
    float: left;
/*    margin-left: 15px;*/
    margin-top: 10px;
/*    width: 1000px;*/


}

#main-content{
    width: 1000px;
  
}

/*table{
    border: 0px solid #CCCCCC;
}*/

/*table th{
    background-color: #190707;
    background-color: #0099ff;
   width: 100%;
    height: 30px;
    color: #777;
  
    border-radius:10px;
    box-shadow:3px 3px 10px 5px #666666;
    box-shadow:3px 3px 10px 5px #006699;
    border:1px solid #c1dad7; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:verdana; font-weight: bold; display:inline-block;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
    
}
table tr{
    border-bottom: 2px solid #ffffff;
  
}

table td{
    padding-top: 0px;
    
    border-bottom: solid 1px #A5090A;
    background: #D8B5B6;
      background: 	#A3D1FF;
}*/

table.form-table{
    margin: 0 auto;
    border: 0px;
    border-collapse: collapse;
    width: 80%;
    background: #fff;
	float:left;
   
}
/*
table.form-table th{
    padding-left: 10px;
    width: 100%;
    text-align: center;
    column-span: 2;
    
}*/

table.form-table td.right{
    text-align: right;
/*    width: 40%;*/
   /* padding-top: 15px;
    padding-bottom: 15px;*/
    font-size: 14pt;
    padding-right: 10px;
     font-weight: bold;
    font-family:calibri;
    
        
}

table.form-table td.left{
    text-align: left;
     font-size: 14pt;
       font-weight: bold;
    font-family:open sans,SolaimanLipi;
   
}

table.form-table td input[type='text'],input[type='password']{
    width: 80%;
    height:40px;
    border: 1px solid #ddd;
    color:#333;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 4px;
    border-radius: 10px;
    font-size: 13pt;
   
} 

#content_top_box
{
    float: left;
    width: 154%;
    height: 50px;
    background:#a5090a; 
    margin-left: -15px;
}
#content-top
{
    float:right;
    width:60%;
    height: 30px;
    background: #e6e6e6;
    border: 5px solid #a5090a;
}
#content-top ul
{
    margin: 0;
    padding: 0;
}

#content-top ul li
{
    display: inline;
}
#content-top li a
{
    display: block;
    float: left;
    padding:6px 10px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid #fff;
    background:#e6e6e6;
}
#content-top li a:hover {background:#b3b3b3; }
#menu_head{
  list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
text-align: center;
}
#menu_head li{
    float:left;
}