* {
    margin : 0;
    padding : 0;
}

body {
/*   background-image: -webkit-linear-gradient(bottom, #CCE0FF,#FFF); 
  background-image:    -moz-linear-gradient(bottom, #CCE0FF, #FFF); 
  background-image:     -ms-linear-gradient(bottom, #CCE0FF, #FFF); 
  background-image:      -o-linear-gradient(bottom, #CCE0FF, #FFF); 
  background-image:         linear-gradient(bottom, #CCE0FF, #FFF);*/
/*    background:#F5F5F7 url(../images/background.jpg) repeat-x top;*/
    font-family : 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size : 0.85em;
    color : #000;
    text-align : center; 
}

h1, h2, h3 {
    font-weight : normal;
    font-style : italic;
}

h1 {
    font-size : 2.2em;
}

h2 {
    font-size : 1.6em;
}

h3 {
    font-family : Georgia, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size : 1.5em;
    color : #333333;
    margin-top : 10px;
}

p {
    margin : 5px;
    padding : 5px;
    line-height : 160%;
}

a { 
    text-decoration: none; 
    color: #fff;
}

a:hover, a:focus, a:active { 
    text-decoration: underline;
}

a:visited {
    color: #999;
    border-bottom : 1px dotted #999;
}

a:visited:hover, a:visited:focus, a:visited:active {
    color: #999;
    border-bottom : 1px solid #666;
}

#container {
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
}

#header{
    width:100%;
    margin-left:0% ;

}

#header h1, #header h2 {
    color : #333333;
    text-align : left;
    padding-top : 20px;
    padding-left: 50px;
}

#header h2 {
    padding-top : 10px;
}

#container_content{
    float: left;
    width: 80%;
    margin: 0% 10%;
    border-top: 20px solid #d7d7d7;
    border-right: 2px solid #d7d7d7;
    border-left: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
    border-radius: 10px;
    background: #fff;
}

#main{
    float: left;
    width: 99%;
    margin-left: 10px;
    margin-bottom: 10px;
}

#main_header
{
    float:right;
    width:70%;

}

#main_navigation
{
    float:right;
    width:76%;
    height: 30px;
    background: #766e65;
    border: 5px solid #766e65;
    margin-right: 1%;
    margin-top: 30px;
}
#main_navigation ul
{
    margin: 0;
    padding: 0;
}

#main_navigation ul li
{
    display: inline;
}
#main_navigation li a
{
    display: block;
    float: left;
    padding:6px 10px;
    color: #FFFFFF;
    text-decoration: none;
    border-right: 1px solid #fff;
    background:#766e65;
}
#main_navigation li a:hover {background:#21201e; }

#sidebar {
    height: 350px;
    width : 20%;
    border : 1px solid #ccc;
    padding-left : 10px;
    font-size : 0.75em;
    font-style : italic;
    color : #cc9900;
    margin-bottom : 0;
    background-color: #ebebeb;
    float: left;
    margin-top: 93px;
    border-radius: 20px 20px 0px 0px;
}

#sidebar h3 {
    font-size : 2em;
    color : #fff;
    margin-left: 5px;
    font-weight: bold;
}

#sidebar ul {
    list-style-type : none;
    margin : 10px 5px 5px 5px;
}

#sidebar li {
    margin : 20px 0 3px 0;
}

#sidebar ul li a:hover,#sidebar ul li a:focus,#sidebar ul li a:active {
    text-decoration : none;
    border : 1px solid #999;
    background-color: #CCCCCC;
}

#sidebar ul li a:visited,#sidebar ul li a:hover,#sidebar ul li a:focus,#sidebar ul li a:active {
    background : #F5F5F7;
    border : 1px solid #ccc;
}

#sidebar ul li a {
    display : block;
    width : 90%;
    height : auto;
    padding: 0.2em;
    padding-left : 5px;
    font-weight : bold;
    font-style : normal;
    font-size : 1.4em;
    line-height: 1.4em;
    border : 1px solid #ccc;
    background-color: #F5F5F7;
    color: #000;
}

#sidebar ul li a:visited:hover,#sidebar ul li a:visited:focus,#sidebar ul li a:visited:active {
    border : 1px solid #999;
    background-color: #CCCCCC;
}

#main_logged
{
    float: left;
    width: 50%;
    height: 60px;
    background: #8d9194;
    margin: 20px 0px 0px 11px;
    border-radius: 20px 20px 0px 0px;
}

#main_logged_header
{
    float: left;
    width: 70%;
}
#main_logged_header p{
    text-align: left;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    margin-left: 20px;
}
#main_box
{
    float: right;
    width: 75%;
    border: 10px solid #063851;
    margin-right: 1%;
}

#content{
    float: left;
    margin-left: 15px;
    width: 65%;
}

#main-content{
    width: 100%;
    border: 1px solid #FFF;
}

table{
    border: 1px solid #CCCCCC;
}

table th{
    background-color: #8d9194;
    color: #ffffff;
}

table td{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table.form-table{
    margin: 0 auto;
    border: 0px;
}

table.form-table th{
    padding-left: 10px;
    width: 40%
}

table.form-table td.right{
    text-align: right;
    width: 40%
}

table.form-table td.left{
    text-align: left;
}

table.form-table td input[type='text']{
    width: 80%
}

table.no-border{
    border: 0px;
}

table.no-border th{
    padding-left: 10px;
    width: 40%;
    background: #CCCCCC;
    text-align: left;
}

table.no-border td{
    border: 0px;
}

table.no-border td.right{
    text-align: right;
    width: 40%;
    border: 0px;
}

table.no-border td.left{
    text-align: left;
    border: 0px;
}

table.no-border td input[type='text']{
    width: 80%
}

#content_top_box
{
    float: left;
    width: 154%;
    height: 50px;
    background:#063851; 
    margin-left: -15px;
}
/*#content-top
{
    float:left;
    width:60%;
    height: 30px;
    background: #e6e6e6;
    border: 5px solid #766e65;
  
}*/
#content-top ul
{
    margin: 0;
    padding: 0;
}

#content-top ul li
{
    display: inline;
}
#content-top li a
{
    display: block;
    float: left;
    padding:6px 10px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid #fff;
    background:#e6e6e6;
}
#content-top li a:hover {background:#b3b3b3; }