

#container
{
    margin: 0 auto;
    width: 1200px;
    background: #fff;
}
#content-container
{
    float: left;
    width: 1200px;
    background: #fff;
}

#section-navigation
{
    float: left;
    width: 160px;
    padding: 0px 0;
    margin: 0 0px;
    display: inline;
}

#section-navigation ul
{
    margin: 0;
    padding: 0;
}

#section-navigation ul li
{
    margin: 0 0 1em;
    padding: 0;
    list-style-type: none;
}

#content
{
    float: left;
    margin-top: 12px;
    width: 1040;
    height: auto;
    background: #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;
}

#content h2 { margin: 0; }

#aside
{
    float: right;
    width: 200px;
    padding: 0px 0;
    margin: 0 0px 0 0;
    display: inline;
}

#aside h3 { margin: 0; }

#hr
{
    border:#FF9900 solid 2px;
}
#h
{
    border:#666666 dotted 1px;
}
#table
{
    width:100%;
    padding-top: 20px;
}
#table tr th
{
    background-color:#FFFFFF;
    color:#336699;
    border:#336699 solid 1px;
}
#table tr td
{
    padding:5px;
    color:#000000;
    font-size:12px;
    font-weight:bold;
    border:#CCCCCC solid 1px;
}
#table1
{
    width:400px;
    margin-top:0px;

}
#table1 tr td
{
    padding:5px;
    color:#003366;
    font-size:12px;
    border:#CCCCCC solid 1px;
}
#table2
{
    margin-top:40px;
    border:#CCCCCC solid 1px;
    border-radius:10px;
    
}

#table2 tr td
{
    padding:5px;
    color:#003366;
    font-size:12px;
}
#table2 tr th
{
    padding:5px;
    color:#003366;
    font-size:14px;
    border:#CCCCCC solid 1px;
    border-radius:10px;
}

#content_teacher_std
{
    float: left;
    margin-top: 12px;
    width: 105%;
    height: auto;
    background:  #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;

}
#content_teacher_std table
{
    float: left;
    margin-top: 20px;
}