#content_container
{
    margin: 0 auto;
    width: 1000px;

}
#job_category_header
{
    float:left;
    margin-top:2%;


    margin-bottom: 1%;
}
#content_all
{
    float: left;
    width: 1000px;
	min-height:250px;
    /*    border-top: 10px solid #0099ff;*/
    border-right: 2px solid #c8d7dc;
    border-left: 2px solid #c8d7dc;
    border-bottom: 2px solid #c8d7dc;
    border-radius: 5px;
	min-height:250px;
    /*    background: #ffffff;*/
    
    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:calibri;text-decoration:none; display:inline-block; 
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}
#content_content
{
    float: left;
    width: 80%;
}
#content_add
{
    padding-top: 1%;
    float:left;
    width: 20%;
    margin-top: 0%;
    text-align: center;
    
}
#job_category_navigation
{
    float:left;
    width:100%;
    /*    background: #0099ff;*/
    /*    border: 5px solid #0099ff;*/
    border:1px solid #c8d7dc; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:Cambria; text-decoration:none; display:inline-block; color: #000;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
    /*    margin-right: 5%;*/
}
#job_category_navigation ul
{
    margin: 0;
    padding: 0;
}

#job_category_navigation ul li
{
    display: inline;
}
#job_category_navigation li a
{
   display: block;
                float: left;
                padding:6px 10px;
                color: #1a4f91;
                text-decoration: none;
                border-right: 1px solid #c8d7dc;
    /*    border-right: 2px solid #333333;*/
    /*    background:#0099ff;*/
}
#job_category_navigation li a:hover {color:red; } 
#job_category_jobSearch_train
{
    float: left;
    width: 94.5%;
    border: 1px solid #C1DAD7;
    /*    background:#E6E6E6;*/
    /*    border: 5px solid #000;*/
    /*    margin-right: 5%;*/
}
#job_category_jobSearch
{
    float: left;
    width: 49%;
    padding-right: 0%;
    /*    border: 1px solid #C1DAD7;*/
    height:auto;
/*    background:  #c8d7dc;*/
    background-image: url("http://localhost:81/purbodesh/images/top_search_add_bg.gif");
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #e8ebf7;
    font-family: calibri;
    background-color: #eef1f9;
    /*    border-right: 3px solid #000;*/
}
#job_category_add
{
    float: left;
    width: 24%;
    background:#f0f1f2;
    padding-top: 1px;;
    height: 10%;

    /*    height: 137px;
    */
    /*    height: 146px;*/
}
#job_category_train
{
    /*    float: left;*/
    /*    width: 62.5%;*/
/*    background:  #c8d7dc;*/
    height: 210px;
    border: 1px solid #C1DAD7;
    float:right;
    width: 50%;
    background-image: url("http://localhost:81/purbodesh/images/top_search_add_bg.gif");
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid #e8ebf7;
    font-family: calibri;
    background-color: #eef1f9;
    /*    height: 146px;*/
}
#job_category_train_content
{
    float: right;
    width: 100%;
    height:20%;
}
#job_div{
    background-color:#f0f1f2;border:1px solid #c6c4c5;margin-top: 10px; width: 99.5%;
}
#job_div:hover{

    background-color:#ddd;border:1px solid #c6c4c5;margin-top: 10px; width: 99.5%;
}
/*#job_type_result_curve
{
    float: left;
    width: 30%;
    height: 20px;
    border-radius: 20px 20px 0px 0px;
    background: #8f8e8e;
    margin-top: 10px;
}*/
#job_type_result
{
    float: left;
    width: 96%;
}
#job_type_pan
{
    width: 100%;
}
#job_type_container
{
    float: left;
    width: 94.9%;
    /*    border: 5px solid #025568;*/
    /*    border:1px solid #C1DAD7;*/
}
#job_type_content
{
    width: 100%;

}
root { 
    display: block;
}

#tdcornertl {
    background-color: #d3d3d3;
    color:#006699;
    border-top-left-radius: 5px;
}
#tdcornertm1 {
    background-color: #d3d3d3;
    color: #006699;
}
#tdcornertm2 {
    background-color: #d3d3d3;
    color: #006699;
}
.BDJLebels {
    color: #fff;
    font-family: Cambria;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
}
#tdcornertr {
     background-color: #d3d3d3;
    color:#006699;
    border-top-right-radius: 5px;
   
}
#tblSet1 .body {
    color: rgb(14, 14, 14);
    font-family: cambria;
    font-size: 11px;
}
.BDJTopMenuNormal {
    color: rgb(98, 127, 242);
    font-family: Cambria;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
.BDJGrayArial11px {
    color: #fff;
    font-family: calibri;
    font-size: 11px;
    text-decoration: none;
}
.form{
/*    background: #f0f1f2;*/
}
.title {
    background-color: #025568;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.body {
    font-family: Cambria;
    font-size: 11px;
    color: #0E0E0E;
    padding-left: 10px;
}
#page_index
{
    float: right;
    width: 50px;
}