/* 
    Document   : job_details_template2
    Created on : Nov 30, 2014, 10:53:31 AM
    Author     : Rifat
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
     margin: 0 auto;
     background-color: #053e07
}
#content_container
{
    margin:0 auto;
    width: 1000px;
    
}
#content
{
    float: left;
    width: 1000px;

/*    border-top: 10px solid #006699;
    border-right: 2px solid #c8d7dc;
    border-left: 2px solid #c8d7dc;
    border-bottom: 2px solid #c8d7dc;
    border-radius: 5px;
                background: #fff;
    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:arial, helvetica, sans-serif;  text-decoration:none; display:inline-block; 
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);*/


}
#content_content
{
    float: left;
    width: 100%;
    margin-top: 20px;

/*    border: 1px solid #777;*/
}
#content_add
{
    float: right;
    width: 14%;
    height: 200px;
    margin-right: 1%;
}
#job_category_header
{
    float:left;


    margin-bottom: 20px;
}
#job_category_navigation
{
    float: left;
    width: 1000px;
    z-index: 100;
}

#job_category_navigation ul li {
    display: inline;
}
#job_category_navigation ul
{
    margin: 0;
    padding: 0;
}

#job_category_navigation li a.active {
    background-color: #f2f5f6;
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
    color: black;
    display: inline-block;
    font-family: verdana;
    padding: 10px;
    text-decoration: none;
}
#job_category_navigation li a
{

    background-color: #f4f5f5;
    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:verdana; padding: 10px 10px 10px 10px; text-decoration:none;font-weight: bold; display:inline-block; color: #777777;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
    border-right: 1px solid #c8d7dc;
    color: #777777;
    display: inline-block;
    float: left;
    font-family: verdana;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
/*        #job_category_navigation li a:hover {background:#21201e; }*/
#header
{
    float: left;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
/*  
border:px solid #FFFFFF; */
/*-webkit-border-radius:5px; -moz-border-radius: 5px;border-radius: 5px;width:px;font-size:px;font-family:arial, helvetica, sans-serif; text-decoration:none; display:inline-block; color: #FFFFFF;
 background-color: #f2f9fe; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
 background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);*/
/*    margin-top: 35px;*/
/*

    border:1px solid #c1dad7; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:verdana; padding: 10px 10px 10px 10px; text-decoration:none;font-weight: bold; display:inline-block; color: #000;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/
}
#main_box
{
    float: left;
    width: 100%;
/*    border: 5px solid #c8d7dc;
    background-color: #EEF1F9;*/
    height: auto;
    background-color: #FFFFFF;
/*    border:1px solid #c8d7dc;*/
    
/*    margin-top: 5px;*/
/*    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #d6f0fd;*/
    /*            background-image:url('http://localhost:81/purbodesh/images/top_bar_bg.gif'); 
                background-repeat: repeat-x;*/
}
#header p
{
    color: #000;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
    font-family: arial;
    width:100%;
}
#header2
{
    float: left;
    width: 100%;
    height: 35px;
}
#header2_left
{
    float: left;
}
#header2_left p
{
    color: #025568;
    margin-left: 15px;
    margin-top: 5px;
    font-weight: bold;
    font-family: arial;
}
#header2_right
{
    float: right;
    margin-right: 10px;
}
#header2_right p
{
    font-size: 10pt;
    color: #333333;
}
#header3
{
    float: left;
    width: 100%;
    height: 35px;
    text-align: center;
    background-color:#255980;
    

    /*            background: #0099ff;*/

}
#header3 p
{
    color: #fff;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    font-family: Tahoma;
    font-size: 16pt;
}
#job_details_container
{
    float: left;
    width: 100%;
    /*            background: #fff;*/
/*    background:#eef1f9*/
}
#job_details_content
{
    margin-left: 10px;
}
#job_details_content li {
    margin-top: 5px;
    padding-left: 0px;
    font-family:Tahoma;
    font-size: 18px;
    color: #0E0E0E;
}
#job_details_bottom
{
    float: left;
    width: 100%;
 
}
.BDJTopMenuNormal {
    color: rgb(98, 127, 242);
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
#tdcornertl {
    background-color: silver;
    border-radius: 5px 5px 0px 0px;
}

.BDJFormTitle {
    color: rgb(53, 82, 183);
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
}
.BDJGrayArial11px {
    color: rgb(102, 102, 102);
    font-family: Tahoma;
    font-size: 14px;
    text-decoration: none;
}
.BDJtabNormal {
    color: #025568;
    font-family: euphemia;
    font-size: 16px;
    font-weight: bold;
}
/*#footer_bottom_navigation
{
    float:left;
    width:100%;
    margin-top: 20px;
    margin-bottom: 30px;
  
   
}
#footer_bottom_navigation ul
{
    margin: 0;
    padding: 0;
    margin-left: 25%;
}
#footer_bottom_navigation ul li
{
    display: inline;
    
}
#footer_bottom_navigation li a
{
    display: block;
    float: left;
    padding:0px 10px;
    color: #b12929;
    text-decoration: none;
    border-right: 2px solid #b12929;
    font-family: euphemia;
    font-size: 10pt;
    font-weight: bold;
    
}
#footer_bottom_navigation li a:hover 
{
    color:#49453a;
    text-decoration: underline;
}
#footer_end
{
    float: left;
    width: 100%;
    height: 10px;
    background: #000;
}
*/#footer_last_navigation
{
    float: left;
    margin-bottom: 5%;

    width: 100%;
    height: 40px;
/*    background-color: #255980;*/
}
#footer_last_navigation ul
{
    margin: 0;
    padding: 0;
    margin-left: 30%;
}
#footer_last_navigation ul li
{
    display: inline;
}
#footer_last_navigation li a
{
  display: block;
    float: left;
    font-weight: bold;
    padding:0px 10px;
    color: #000;
    text-decoration: none;
    border-right: 1px solid #b12929;
    font-family: Calibri;
    font-size: 10pt;
}
#footer_last_navigation li a:hover {color:#d6a201; }
#footer_last
{
    float: right;
    width: 100%;
    height: 35px;
    background: #3d3729;
    margin-top: 20px;
    margin-bottom: 30px;
}
#footer_bottom_navigation
{
    float:left;
    width:100%;
    margin: 0 auto;
    background-color: #fff;
    border-top: 5px solid #0d69da;
    height: 35px;
    min-height: 300px;
    margin: 15px auto 0;
    padding-top: 10px;
}
#footer_bottom_navigation ul
{
    margin: 0;
    padding: 10px;
}

#footer_bottom_navigation li a
{
    display: block;
    float: left;
    padding:0px 10px;
    text-align: left;
    color:#bbb;
    text-decoration: none;
    font-family: euphemia;
    font-size: 14px;
}
#footer_bottom_navigation li a:hover {color:#d6a201; }
#foot_tab td {
    padding-top: 10px;
}
#foot_tab td a
{
    text-decoration: none;
     color:#666666;
    font-size: 18px;
}
#foot_tab td a:hover
{
   color:#000;
    
}

#wrapper_bottom
{
    background-color: #4f4f52;
    float: left;
    margin: 0 auto;
    min-height: 25px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}