body{
    margin:0 auto;
}
#content_container
{
    width:1000px;
    margin: 0 auto;
    background: #f0f0f0;
}
#training_header
{
    float:left;
    width:600px;
    /*                margin-left: 10%;*/
    margin-bottom: 20px;
}
#content
{
    float: left;
    width: 1000px;
    /*                margin: 0% 10%;*/
    border-top: 0px solid #006699;
    border-right: 2px solid #d7d7d7;
    border-left: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
    border-radius: 5px;
    /*                background: #fff;*/
    border:1px solid #c8d7dc; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:arial, helvetica, sans-serif;  text-decoration:none; display:inline-block; 
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);

}
#main_box
{
    float: left;
    width: 100%           
        /*                    \border: 5px solid #c8d7dc;*/
        /*                margin-top: -1%;*/

        /*                margin-top: 40px;*/
}
#header_box
{
    float: left;
    width: 100%;
    height: 52px;
    /*                background: #0099ff;*/
}
#header_box_training
{
    float: left;
    width: 99.8%;
    height: 32px;
    /*                background: #000;*/

    border:1px solid #E6E6E6;

    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:verdana; text-decoration:none;font-weight: bold; display:inline-block; color: #777777;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
#training_navigation
{
    float:left;
    margin-left:10px;
}
#training_navigation ul
{
    margin: 0;
    padding: 0;
}

#training_navigation ul li
{
    display: inline;
}
#training_navigation li a
{
    display: block;
    float: left;
    padding:6px 10px;
    color: #1a4f91;
    text-decoration: none;
    border-right: 1px solid #c8d7dc;
    /*                border-right: 1px solid #fff;*/
    /*                background:#000;*/
}

#training_navigation li a.active{
    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:verdana; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: black;
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc); 
}
#training_navigation li a:hover {color:red; }
#training_container_header
{
    float: left;
    width: 60%;
    height: 30px;
    background: #f0f0f0;
    margin-top: 10px;
}
#training_container_header p
{
    color: #000;
    font-size: 15pt;
    text-align: justify;
    font-family: arial;
    margin-top: 2px;
    margin-left: 20px;
}
#training_container
{
    float: left;
    width: 100%; 

}

#training_content
{
    float: left;
    width: 100%;
}
#training_content p
{
    font-family: Palitino linotype;
    line-height: 2em;
    text-align: left;
}
#img
{
    padding:0px 20px 6px 0px;
    margin-top: 0px;
    clear:both;}
#footer_bottom_navigation
{
    float:left;
    width:100%;
    margin: 0 auto;
    background-color: #fff;
    border-top: 5px solid #0d69da;
    height: 35px;
   /* min-height: 300px;*/
    margin: 15px auto 0;
    padding-top: 10px;
}
#footer_bottom_navigation ul
{
    margin: 0;
    padding: 10px;
}

#footer_bottom_navigation li a
{
    display: block;
    float: left;
    padding:0px 10px;
    text-align: left;
    color:#bbb;
    text-decoration: none;
    font-family: euphemia;
    font-size: 14px;
}
#footer_bottom_navigation li a:hover {color:#d6a201; }
#foot_tab td {
    padding-top: 10px;
}
#foot_tab td a
{
    text-decoration: none;
     color:#666666;
    font-size: 18px;
}
#foot_tab td a:hover
{
   color:#000;
    
}

#wrapper_bottom
{
    background-color: #4f4f52;
    float: left;
    margin: 0 auto;
    min-height: 25px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}