/*html{
     This image will be displayed fullscreen 
    background: url(../images/bg.png) no-repeat center center;

     Ensure the html element always takes up the full height of the browser window 
    min-height:100%;

     The Magic 
    background-size:cover;
}*/

/*body{
     Workaround for some mobile browsers 
    min-height:100%;
}*/
body
{
    margin: 0 auto;
    /*  background-image: -webkit-linear-gradient(bottom, #CCE0FF,#FFF); 
      background-image:    -moz-linear-gradient(bottom, #CCE0FF, #FFF); 
      background-image:     -ms-linear-gradient(bottom, #CCE0FF, #FFF); 
      background-image:      -o-linear-gradient(bottom, #CCE0FF, #FFF); 
      background-image:         linear-gradient(bottom, #CCE0FF, #FFF);*/
    /*    background:#F8F8F8  url(../images/footer.png) no-repeat center bottom;*/
}
#page
{
    margin:0 auto;
    width:1000px;
} 
/*#top
{
    margin:0 auto;
    height: 20px;
    background: #000;
    width:1000px;
} */
#header
{
    margin:0 auto;
    width:1000px;
} 
#headerleft
{
    float:left;
    margin-top:10px;
    width:550px;
    margin-left: -10%;
} 
#headerright
{
    float:left;
    width:340px;
    /*    box-shadow: 0px 0px 3px 3px #ce1725;*/
} 
#navigation
{
    z-index: 100;
    float:left;
    width:1000px;
	margin-left: -100px;
    /*    margin-top:-61px;*/
}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    display: inline;

}

#navigation li a
{
    display: block;
    float: left;
    padding:6px 10px;

    text-decoration: none;
    border-right: 1px solid #c8d7dc;
    /*    background:#0066FF;*/

    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;
    /*    font-family:verdana; */
    font-family:Cambria; 
    padding: 10px 10px 10px 10px; 
    text-decoration:none;
    font-weight: bold;
    display:inline-block; color: #1a4f91;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

#navigation li a.active {
    border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:verdana; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: #0099ff;
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc); 
} 
#navigation li a:hover{
    color:red;
}
#contentpage
{
    float:left;
    /*    margin:-20px 0px 0px 0px;*/
    width:1200px;
	margin-left:-100px;
    height:auto;

    /*background: url("../images/cat_mainbg.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);*/
    /*    box-shadow:3px -5px 3px 3px #006699;*/
} 
#galleryadd
{
    float:left;
    width:1000px;
    height: 10px;
    padding:10px 0px;
    /*    background:	#4D90F0;*/
} 
#content
{
    float:left;
    width:1200px;
    margin: 0 auto;
    /*    background-color: #FAFAFF;*/
    border-radius: 0px 0px 5px 5px;
} 
.image_border img
{
    border: medium none;
}
#contentleft
{
    float:left;
    width:900px;
    background-color: #f8f8f8;
    margin-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border:1px solid #c8d7dc;

} 
#contentleft .job
{
    float:left;
    width:630px;
    /*    margin:0px 10px;*/
    height:180px;
    margin-bottom:5px;
    /*    background-image: url(../images/jobbg.png);*/
    /*    background-color: #F8F8F8;*/
}
#contentleft .img 
{
    float:left;
    width:650px;
    height:200px;
    border:1px solid #668899;

}
#contentleft .jobsearch
{
    float:left;
    width:650px;
    margin-left:50px;
    margin-top:10px;
}
#contentleft #jobcontent
{
    float:left;
    width:900px;
    margin:0px 10px 0px 10px;
    background-image: url("../images/cat_bg_tab_2_a.gif");
    background-position: center top;
    background-repeat: repeat-x;
    border-radius: 15px;
    border:1px solid #c8d7dc;
    background-color: #f8f9ff;

    /*    background:url(../images/jobcat.png) left top no-repeat;*/
    /*    bbackground: url("../images/jobcat.png") no-repeat scroll left top rgba(0, 0, 0, 0);*/
    /*    padding-bottom:10px;*/
}   
#contentleft .jobcategry
{
    float:left;
    width:280px;
    margin-left: 19px;
}  
#contentleft .jobcategry h2
{
    margin-left:30px;
    margin-top:0px;
    font-size:16px;
    font-family:Cambria;
    font-weight: 100;
    width:120px;
    text-align:center;
    padding:5px 10px;;
    /*    background:#4D90F0;*/
    color:#1a4f91;


    background: rgba(212,228,239,1);
    background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(171,200,221,1) 52%, rgba(162,193,217,1) 64%, rgba(134,174,204,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(52%, rgba(171,200,221,1)), color-stop(64%, rgba(162,193,217,1)), color-stop(100%, rgba(134,174,204,1)));
    background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(171,200,221,1) 52%, rgba(162,193,217,1) 64%, rgba(134,174,204,1) 100%);
    background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(171,200,221,1) 52%, rgba(162,193,217,1) 64%, rgba(134,174,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(171,200,221,1) 52%, rgba(162,193,217,1) 64%, rgba(134,174,204,1) 100%);
    background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(171,200,221,1) 52%, rgba(162,193,217,1) 64%, rgba(134,174,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );

    /*    border:1px;
        -moz-border-radius:0px 0px 10px 10px;
        -webkit-border-radius:0px 0px 10px 10px;
    
    
        display:inline-block; color:#000;
        background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/
}  
#contentleft .jobcategry ul 
{
    margin:0;
    padding:0;
} 
#contentleft .jobcategry ul li
{
    list-style-type:none;
    margin-left:0px;
    
    list-style-position:inside;
    line-height: 25px;
}  
#contentleft .jobcategry ul li a
{   font-family:Cambria;
    font-weight: 100;
    font-size:12px;
    margin-top:0px;
    text-decoration:none;
    color:#000000;
} 
#contentleft .jobcategry li a:hover
{
    color:#a5090a;
}
#contentleft #onlinetender
{
    float:left;
    width:637px;
    margin:0px 10px;
    background:#F8F8F8;
    border:1px solid #8f8e8e;
    border-radius:5px;
} 



#contentleft .onlinetender
{
    float:left;
    width:270px;
}  
#contentleft .onlinetender h2
{
    margin-left:30px;
    margin-top:0px;
    font-size:14px;
    font-family:Cambria;
    font-weight: 100;
    width:200px;
    text-align:center;
    padding:5px 10px;;
    background:#4D90F0;
    color:#FFFFFF;
    border:1px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
} 
#contentleft .onlinetender table
{
    float:left;
    width:630px;
    margin-bottom:10px;

}  
#contentleft .onlinetender table tr th
{    font-family:Cambria;
     font-weight: 100;
     color:#0099FF;
} 
.onlinetendert table
{
    float:left;
    background:#fff;
}  
.onlinetendert table tr td
{
    font-family:calibri;
    font-weight: 100;
    color:#e6e6e6;
} 
.onlinetendert table tr td a
{
    text-decoration:none;
    color:#003366;
} 
.onlinetendert table tr td a:hover
{
    text-decoration:underline;
    color:#990000;
} 
#contentleft #joblink
{   font-family:Cambria;
    font-weight: bold;
    font-size: 12px;
    float:left;
    /*    margin-top: -1px;
        margin-right:10px;*/

    margin: 0 10px;
    color:#424548;
    /*    background:#0099FF;*/
    width:100%;
    border:1px;
    border-radius:0px 0px 10px 10px;
}
#contentleft #joblink .q
{
    float:left;
    width:100%;
} 
#contentleft #joblink .q h4
{
    /*    color:#FFFFFF;*/
    color:#0099ff;
    margin-top:0px;
    padding-right: 10px;
    padding-left: 10px;
    /*    background:#4D90F0;*/
    text-align: left;
    width:100%;
    /*    color:#FFFFFF;*/
    border:1px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
    display:inline-block; color:#000;
    /*    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
        background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
        background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);*/

}  
#contentleft #joblink .q ul
{
    margin-top:-10px;
    padding:0;
}
#contentleft #joblink .q ul li
{
    list-style-type:none;
    list-style-image:url('../images/jobimg.png');/*
    list-style-position:inside;
    padding-bottom: 5px;*/
    display: inline;
} 
#contentleft #joblink .q ul li a
{
    /*    color:#FFFFFF;*/
    /*    color:#777;
        text-decoration:none;
        font-weight: bold;*/
    
    color: #0099ff;
    display: block;
    float: left;
    
    padding: 0 7px;
    text-decoration: none;
} 
#contentleft #joblink .q ul li a:hover
{
    color:#a5090a;
}
#highlight_jobs
{
    float: left;
    width: 100%;
    margin-top: 5px;
    border: 1px solid #c8d7dc;
    border-radius: 20px;
    margin-bottom: 10px;

    background:#f8f8f8;
    padding-bottom: 15px;
    /*    margin-left: 10px;*/
}
#highlight_jobs_header
{
    float: left;
    width: 100%;
    height: 80px;
    /*    background:#F8F8F8;*/
    /*    margin-left: 5px;*/
}
#highlight_jobs_header_lefttop
{
    float: left;
    width: 100%;
    height: 39px;
    background: #4D90F0;

    border-top-left-radius: 25px;
    border-top-right-radius: 20px;

    border:px solid #FFFFFF; 
    -webkit-border-radius: px; -moz-border-radius: px;
    border-radius: px;
    width:px;font-size:px;

    /*padding: 10px 10px 10px 10px;*/
    text-decoration:none; 
    display:inline-block; color:#848484;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
    /*    border-radius: 0px 0px 20px 20px;*/
    /*    margin-left: 20px;*/


}
#highlight_jobs_header_lefttop p
{
    color: #fff;
    font-family: Cambria;
    font-size: 12pt;
    font-family:Cambria;
    font-weight: 100;
    margin-top: 0px;
    margin-left: 10px;




}
#highlight_jobs_header_navigation
{
    float:left;
    width:900px;
/*    margin-top: 20px;
    margin-left: 10px;*/
}
#highlight_jobs_header_navigation ul
{
    margin: 0;
    padding: 0;
}

#highlight_jobs_header_navigation ul li
{
    font-family:Cambria;
    font-weight: 100;
    display: inline;
    font-size: 14px;

}

#highlight_jobs_header_navigation li a
{
    display: block;
    float: left;
    padding:0px 7px;
    color: #0099FF;
    text-decoration: none;
    
    
}

#highlight_jobs_header_navigation li a:hover {color:red; }
#highlght_job_container
{
    float: left;
    width: 100%;
	margin-top:-20px;
    /*    padding-top: 5px;
        margin-left: 10px;
        margin-bottom: 0PX;
        margin-right: 10px;*/

}

#highlght_job_container table
{
    /*    border: 1px solid #99CCFF;*/
    font-family: calibri;
    font-size: 12px;
    width: 100%;
/*    margin-bottom: 5px;*/
/*    margin-left: 5px;*/
    /*    margin-bottom: 10px;*/




}

#highlght_job_container table tr
{
    line-height: 20px;
}

#job_table
{
    width: 200px;
    line-height: 8px;
}
#job_table_right
{
    width: 200px;
    line-height: 10px;
}
#hightlight_job_content_left
{
    float: left;
    width: 300px;
    margin-left: 10px;
}
#hightlight_job_content_right
{
    float: right;
    width: 300px;
}
#hightlight_job_content_left_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content1_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content1_header 
{
    font-size: 9pt;
    font-family: Cambria;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content1_text
{
    width: 270px;
}
#hightlight_job_content1_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    margin-top: -10px;
    text-decoration: none;
}
#hightlight_job_content1_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content2
{
    float: left;
    width: 640px;
    height: 80px;
    background: #fff;
    margin-left: 10px;
}
#hightlight_job_content2_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content2_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content2_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content2_text
{
    float: left;
    width: 270px;
    margin-top: -10px;
}
#hightlight_job_content2_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;

    text-decoration: none;
}
#hightlight_job_content3
{
    float: left;
    width: 640px;
    height: 80px;
    background: #e5b5b5;
    margin-left: 10px;
}
#hightlight_job_content3_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content3_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content3_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content3_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content3_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    text-decoration: none;
}
#hightlight_job_content4
{
    float: left;
    width: 640px;
    height: 80px;
    background: #fff;
    margin-left: 10px;
}
#hightlight_job_content4_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content4_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content4_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content4_text
{
    width: 270px;
    float: left;
}
#hightlight_job_content4_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    margin-top: -10px;
    text-decoration: none;
}
#hightlight_job_content5
{
    float: left;
    width: 640px;
    height: 80px;
    background: #e5b5b5;
    margin-left: 10px;
}
#hightlight_job_content5_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content5_header
{
    float: left;
    width: 270px;
    padding-left: 10px;
}
#hightlight_job_content5_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content5_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content5_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 20px;
    text-decoration: none;
}
#hightlight_job_content1_right
{
    float: right;
    width: 300px;
    margin-top: -42px;
    margin-right: 25px;
}
#hightlight_job_content1_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content1_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content1_right_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content1_right_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content1
{
    background: #999a9c;
}
#hightlight_job_content1_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content2_right
{
    float: right;
    width: 300px;
    margin-top: -42px;
    margin-right: 25px;
}
#hightlight_job_content2_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
}
#hightlight_job_content2_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content2_right_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content2_right_text
{
    width: 270px;
    float: left;
    margin-top: -12px;

}
#hightlight_job_content2_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content3_right
{
    float: right;
    width: 300px;
    margin-top: -65px;
    margin-right: 25px;
}
#hightlight_job_content3_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content3_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content3_right_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content3_right_text
{
    width: 270px;
    float: left;
    margin-top: -10px;
}
#hightlight_job_content3_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content4_right
{
    float: right;
    width: 300px;
    margin-top: -55px;
    margin-right: 25px;
}
#hightlight_job_content4_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content4_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content4_right_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content4_right_text
{
    width: 270px;
    margin-top: -10px;
}
#hightlight_job_content4_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#hightlight_job_content5_right
{
    float: right;
    width: 300px;
    margin-top: -55px;
    margin-right: 25px;
}
#hightlight_job_content5_right_img
{
    float: left;
    width: 48px;
    height: 48px;
    margin-left: 10px;
    margin-top: 10px;
}
#hightlight_job_content5_right_header
{
    float: left;
    width: 370px;
    margin-top: -60px;
    margin-left: 70px;
}
#hightlight_job_content5_right_header p
{
    font-size: 9pt;
    font-family: calibri;
    font-weight: bold;
    color:#000;
}
#hightlight_job_content5_right_text
{
    width: 270px;
    margin-top: -10px;
}
#hightlight_job_content5_right_text a
{
    float: left;
    font-size: 8pt;
    font-family: calibri;
    font-weight: bold;
    color:#0b6d3c;
    padding-left: 10px;
    text-decoration: none;
}
#contentright
{
    float:right;
    width:270px;

}
#contentright_login
{
    float: right;
    width:98%;
    background: url(../images/login.png);

    background:#F8F8F8;
    border:1px solid #c8d7dc;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-left: 10px;

}
#contentright_login_header
{
    float: left;
    margin-top: 0px;
    width: 100%;
    height: 40px;

}
#contentright_login_header p
{
    /*font-family: euphemmia; */
    text-align: center;
    /*    background: none repeat scroll 0 0 #4D90F0;*/
    /*    color: #FFFFFF;
        font-family: calibri;*/
    font-size: 16px;
    font-family: Tahoma;
    font-weight: 100;
    margin-left: 0px;
    margin-top: 0px;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    border:px solid #FFFFFF; 
    -webkit-border-radius: px; -moz-border-radius: px;
    border-radius: px;
    width:px;font-size:px;

    /*padding: 10px 10px 10px 10px;*/
    text-decoration:none; 
    display:inline-block; color:#1a4f91;
    font-weight: bold;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
#leftl
{
    float: left;
    width: 150px;
    margin:10px 0px 10px 5px;
    height: 109px;
    /*    background: url(../images/crt.png)no-repeat;*/
}
#leftl p
{
    margin:60px 0px 0px 22px;

}
#leftl a
{
    text-decoration: none;
    font-size: 13px;

    color:#fff;
}
#leftl a:hover
{
    color: chartreuse;
}
#rightr
{
    float: left;
    width: 300px;
    margin-left:15px;
}
#user_login_content
{
    float: left;
   
}
#user_login_content_logbtn
{

    float: left;
    margin-right: 10px;
}
#righte{
    float: right;
    /* width: 125px;*/

    /*    height: 109px;*/


}
#righte p{

    margin:8px 30px 0px 0px;

}
#righte a{
    font-family:euphemmia;
    text-decoration: none;
    font-size: 13px;
    color:#000;  
}

#righte a:hover{
    color: rgb(165, 9, 10);
}

#advertisement_top
{
    float: right;
    width: 98%;
}
#advertisement_top_header
{
    float: left;
    width: 350px;
    height: 35px;
    background: #025568;
}
#advertisement_top_header_text
{
    float: left;
    width: 200px;
}
#advertisement_top_header_text p
{
    font-family: calibri;
    font-size: 12pt;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-left: 20px;
}
#advertisement_top_content
{
    float: right;
    width: 100%;
    height: 190px;
    background: #F8F8F8;
    /*    background: #99CCFF;*/
    border: 1px solid #c8d7dc;
    margin-left: 5px;
    padding:1px;
    border-radius: 15px;
    
}
#advertisement_top_content_img1
{
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 25px;

}
#advertisement_top_content_img2
{
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 35px;
}
#advertisement_top_content_img3
{

    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 25px;
}
#advertisement_top_content_img4
{
    float: left;
    width: 125px;
    height: 125px;
    margin-top: 5px;
    margin-left: 35px;
}
#training
{
    float: right;
    /*    width: 347px;*/
/*    margin-left: 3px;*/
    /*margin-top: -20px;*/
}
#training_header
{
    float: left;
    /*    width: 347px;*/
    height: 40px;
    /*    background: #4D90F0;
        color:#FFFFFF;*/

    border:px solid #FFFFFF; 
    -webkit-border-radius: px; -moz-border-radius: px;
    border-radius: px;
    width:px;font-size:px;

    /*padding: 10px 10px 10px 10px;*/
    text-decoration:none; 
    display:inline-block; color:#848484;
    background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}
#training_header_text
{
    /*    width: 80px;*/
    height: 25px;
    /*    margin-left: 15px;*/
    margin-top: -10px;
    font-family:arial; 
    font-weight: bold;
}/*
#training_header_text p
{
    font-family:calibri;
    font-size: 15px;
    font-weight: bold;
}*/
#training_content
{

    /*    background: none repeat scroll 0 0 #DAD7C5;*/


    font-family: calibri;
    font-size: 10px;
    width: 100%;
    /*    height: 360px;*/
    float: left;

}
#training_content_left
{
    float: left;
    width: 100.5%;
    /*    height: 310px;*/
    margin-left: 0px;
    margin-top: 0px;
}
#training_content_right
{
    float: right;
    width: 50%;
    /*    height: 300px;*/
    margin-top: 0px;
    margin-right: 2px;
}
#training_more
{
    float: left;
    width: 50%;
    height:20px;
    background: #f8f8f8;
    margin-left: 25%;
    /*    margin-top: 45px;*/
}
#training_more_redBar
{
    float: left;
    width: 50%;
    height: 20px;
    /*    background: #4D90F0;*/
    margin-left: 100%;
    /*    border-bottom-left-radius:5px;*/
}

#training_more_redBar a
{
    width: 100%;
    height: 10px;
    text-align: center;
    text-decoration:none;
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
    color:#0d69da;
    float:right;
    border-radius: 5px;
    color:#000;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FAFAFA),
        color-stop(0.11, #F2EFEF),
        color-stop(0.66, #93BFF5)
        );
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
}
#training_more_redBar a:hover{
    color:red;
}
#rightcontent_bottom_add  
{
    float: left;
    width: 345px;
    height: auto;
    margin-top: 5%;
    margin-left:5px;
}
#rightcontent_bottom_add1
{
    float: left;
    width: 350px;
    height: 60px;
    margin-top: 45px;
}
#rightcontent_bottom_add2
{
    float: left;
    width: 350px;
    height: 35px;
}
#rightcontent_bottom_add3
{
    float: left;
    width: 350px;
    height: 150px;
}
#footer_content
{
    float: left;
    width: 1000px;
    margin-top: 20px;
}
#footer_top
{
    float: left;
    width: 1000px;
    height: 20px;
    background: #047a7a;
}
#footer_content_container
{
    float: left;
    width: 1000px;
    height: 260px;
    background: #025568;
}
#footer_contents
{
    float: left;
    width: 1000px;
    margin-left: 50px;
    margin-top: 25px;
    clear: left;
}
#footer_bottom
{
    float: left;
    width: 100%;
    /*    height: 40px;*/
    border-radius: 0px 0px 15px 15px;
    background: #025568;
    margin-top: 1px;
}

#footer_bottom_navigation
{
    float:left;
    width:100%;
    margin: 0 auto;
/*    background-color: #3a3a3c;*/
    background-color: #fff;
/*    border-radius: 4px 4px 0 0;*/
    height: 35px;
/*    min-height: 300px;*/
    margin: 15px auto 0;
    padding-top: 10px;
    border-top: 5px solid #E6B800;
}
#footer_bottom_navigation ul
{
    margin: 0;
    padding: 10px;
}/*
*/
/*#footer_bottom_navigation ul li
{
    list-style-type: none;
}*/
#footer_bottom_navigation li a
{
    display: block;
    float: left;
    padding:0px 10px;
    text-align: left;
    color:#bbb;
    text-decoration: none;
/*    border-right: 1px solid #FFFFFF;*/
    font-family: calibri;
    font-size: 14px;
   

    /*    pt is point*/
}
#footer_bottom_navigation li a:hover {color:#d6a201; }
#foot_tab td {
    padding-top: 10px;
}
#foot_tab td a
{
    text-decoration: none;
    color:#666666;
    font-size: 18px;
}
#foot_tab td a:hover
{
   color:#000;
    
}
#wrapper_bottom
{
    background-color: #4f4f52;
    float: left;
    margin: 0 auto;
    min-height: 25px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 100%;
}

#tab1
{
    border:1px solid #f8f8f8; 
}
/*#tab1,td{
    border:1px solid #D6D6C2;
    border-collapse:collapse
       
}*/

/*#tabl tr td:hover{
    -webkit-transform: scale(1.1);      Safari & Chrome 
    -moz-transform: scale(1.1);         Firefox 
    -o-transform: scale(1.1);
}*/

#img_hov:hover{
    border:1px solid #99ccff;
}
#tab2,td{
    /*    border:1px solid #D6D6C2;*/
    border-collapse:collapse
}
#tabl,td{
    border-collapse:collapse;

}


#footer_bottom_navigatio li a:hover {color:#d6a201; }
#table tr td:hover{
    background:	#E6E6E6;
}
.jobcategry ul li:hover{
    -webkit-transform: scale(1.2);     /* Safari & Chrome */
    -moz-transform: scale(1.2);        /* Firefox */
    -o-transform: scale(1.2);

}
#tab1 tr td:hover{
    background:#ffffff;

}
#creat_account a
{
    color:#4D90F0;  
}
#creat_account a:hover
{
    color:#000000;  
}

#see_all{
    text-align: center;
    float:right;
    border-radius: 5px;
    width:10%;
/*    margin-right: 5px;*/
    margin-bottom: 5px;
    height:25px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FAFAFA),
        color-stop(0.11, #F2EFEF),
        color-stop(0.66, #93BFF5)
        );
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #F2EFEF 11%, #93BFF5 66%);
}
#see_all a{
    font-family: Arial;font-weight: bold;font-size: 12px;color:#000;text-decoration:none;
}

