body
{
background-color:#CCCCCC;
}
#container
{
	margin: 0 auto;
	width: 1200px;
	background: #fff;
}

#header
{
	background: #fff;
	margin-top:-10px;
	padding-left:10px;
	height:60px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 1200px;
	background-color:#336699;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 20px;
	color: #fff;
	text-decoration: none;

}

#navigation li a:hover { background: #383; }

#content-container
{
	float: left;
	width: 1200px;
	background: #fff;
}

#section-navigation
{
	float: left;
	width: 160px;
	padding: 0px 0;
	margin: 0 0px;
	display: inline;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	float: left;
	width: 800px;
	padding: 10px 0;
	margin:5px;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 200px;
	padding: 0px 0;
	margin: 0 0px 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#footer
{
	clear: left;
	background: #336699;
	text-align: right;
	padding:10px;
}
#hr
{
border:#FF9900 solid 2px;
}
#h
{
border:#666666 dotted 1px;
}
#table
{
width:1150px;
margin-top:0px;
}
#table tr th
{
background-color:#FFFFFF;
color:#336699;
border:#336699 solid 1px;
}
#table tr td
{
padding:5px;
color#000000;
font-size:12px;
font-weight:bold;
border:#CCCCCC solid 1px;
}
#table1
{
width:400px;
margin-top:0px;

}
#table1 tr td
{
padding:5px;
color:#003366;
font-size:12px;
border:#CCCCCC solid 1px;
}
#table2
{
margin-top:0px;
border:#CCCCCC solid 1px;
border-radius:10px;

}
#table2 tr td
{
padding:5px;
color:#003366;
font-size:12px;
}
#table2 tr th
{
padding:5px;
color:#003366;
font-size:14px;
border:#CCCCCC solid 1px;
border-radius:10px;
}