body
{
    margin:0 auto;
/*    background:#f2f2f2 url(../images/header.png) left top repeat-x;*/
} 

#containermsf
{
    margin: 0px auto;
    margin-top:30px;
    width: 1000px;
}


#headermsf
{
    padding:20px;
    margin-top:20px;
}

#headermsf h1 { margin: 0; }

#navigationbarmsf
{
    float: left;
    position:absolute;
    z-index:1;
}

#navigationbarmsf ul
{
    /*    margin: 0px 0px 0px 10px;*/
    padding: 0;
    float: left;
}

#navigationbarmsf ul li
{
    display: inline;

}

#navigationbarmsf ul li a
{

    background:url('../images/button.png') repeat-x;
    padding: 6px 22px;
    font-size:15px;
    color: #000000;
    text-decoration: none;
}

#navigationbarmsf li a:hover { background:#D9E021;}

#content_tprof
{
    float: left;
    margin-top: 12px;
    width: 105%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;
}

#content_stdprof
{
    float: left;
    margin-top: 12px;
    width:105%;
    height: auto;
    background-color:  #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;
}
#content_stdprof table
{
    float: left;
    margin-top: 30px;
    width: 100%;
    height: auto;
}
#content_stdprof table tr th
{
    color:#336699;
    border:#336699 solid 1px;
}
#content_stdprof table tr td
{
    padding:5px;
    color:#000000;
    font-size:14px;
    border:#CCCCCC solid 1px;
}

#hdr_menu
{
    margin-left:15px;
    width: 100%;
    height: auto;
    background-color: #666666;  
}

#hdr_menu ul li
{
    display: inline;
    padding-left:60px;
    padding-right:100px;
    font-size: 20px;
    color:  #FAA819;
    font-family: "century gothic";
}

#content
{
    float: left;
    width: 100%;
    height: auto;
    /*    background-color: #FFFFFF;*/
    /*    box-shadow:3px 3px 10px 5px #666666;*/
}

#content_teacher
{
    float: left;
    margin-top: 12px;
    width: 105%;
    height: auto;
    background-color: #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;
}
#table_teacher
{
    float: left;
    margin-top: 40px;
    width: 100%;
    height: auto;
}
#table_teacher tr th
{
    background-color:#FFFFFF;
    color:#336699;
    border:#336699 solid 1px;
}
#table_teacher tr td
{
    padding:5px;
    color:#000000;
    font-family: "century gothic";
    font-size:14px;
    border:#CCCCCC solid 1px;
}
#left_content
{
    float: left;
    margin-left: 5px;
    width:78%;
    height:750px;
    background-position: center;
}

#lftyellowdv
{
    float: left;
    margin-top: 50px;
    margin-left: 10px; 
    margin-bottom: 10px;
    width:100%;
    height:252px;
    background-color: #F15A24;
}

#under_lfyellowdv
{
    float: left;
    width: 100%;
    height: auto;
}

#stimage_text
{
    float: left;
    width: 47%;
    margin:10px;
    height:230px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

#stimage
{
    float: left;
    width: 120px;
    height :230px;
    border-radius: 20px;
    background:url('../images/student.png') no-repeat;
}
#stimage_hdr
{
}
#stimage_content
{

}

#joinnow
{
    float: right;
    margin-right: 10px;
    width: 70px;
    height:30px;
    border-radius:15px;
    background-color: #D9E021;
}
#joinnow p
{

    float: left;
    margin-left: 6px;
    margin-top: 5px;
    font-family: 'denmark regular';
}

#tutrimage_text
{
    float: left;
    margin:10px;
    width: 48%;
    height:230px;
    border-radius: 20px;
    background-color: #FFFFFF;
}
#tutrimage
{
    float: left;
    width: 120px;
    height :230px;
    border-radius: 20px;
    background:url('../images/tutor.png') no-repeat;
}
#lfbrows
{
    float: left;
    width: 48%;
    margin-left: 10px; 
    height :250px;
    border-radius: 20px;
    border: 2px #D9E021 solid;  
}
#lfbrowsheader
{
    float: left;
    margin-top-left:10px;
    margin-top-right:10px;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #808080;
}
#fst_images
{
    float: left;
    width: 30%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}
#second_images
{
    float: left;
    width: 30%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}
#third_images
{
    float: left;
    width: 30%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}
#forth_images
{
    float: left;
    width: 30%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}
#fift_images
{
    float: left;
    width: 30%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}
#sixt_images
{
    float: left;
    width: 30%;
    height: 37%;
    margin: 5px;
    border: 1px #D9E021 solid;
    border-radius:10px;
}

#lfexplor
{
    float: right;
    width: 48%;
    margin-left: 10px;
    height :250px;
    border-radius: 20px;
    border: 2px #D9E021 solid; 
    margin-bottom: 10px;
}
#lfexplorheader
{
    float: left;
    margin-top-left:10px;
    margin-top-right:10px;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #808080;
}
#map
{
    float:left;
    width: 50%;
    height: 80%;
    background: url('../images/map.png') no-repeat;
}

#jodinfo
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
    width:31%;
    /*    height :70%;*/
    height: 165px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border: 2px #D9E021 solid; 
    background-color: #F2F2F2;
}
#jodinfoheader
{
    float: left;
    margin-top-left:10px;
    margin-top-right:10px;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;   
}
#tabil
{
    float: left;
    width: 100%;
    height: 75%;
    background-color: #F2F2F2;
}
#tabil tr td
{
    width: 255px;
    border-bottom: 1px gray solid;
}
#stconsutancy
{
    float: left;
    margin-left:4px;
    width:31%;
    height :165px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border: 2px #D9E021 solid;   
}
#stconsutancyheader
{
    float: left;
    margin-top-left:10px;
    margin-top-right:10px;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;   
}
#consult_image
{
    float: left;
    width: 100%;
    height: 75%;
    background: url('../images/img2.png') no-repeat;
}
#trainfacility
{
    float: right;
    width:32%;
    height :165px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border: 2px #D9E021 solid; 
}

#trainfacilityheader
{
    float: left;
    margin-top-left:10px;
    margin-top-right:10px;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;   
}
#train_facility
{
    float: left;
    width: 100%;
    height: 75%;
    background: url('../images/img1.png') no-repeat;
}
#right_content
{
    float:left;
    margin-left:12px;
    width: 20%;
    height:750px;
}

#tutrsrch
{
    float:left;
    margin-left:10px;
    margin-top: 40px;
    width:90%;
    height:150px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #F2F2F2;
}
#form
{
    float:left;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}
#form table td img
{
    float: right; width:17px;height: 19px;
}
#tutrsrcheader
{
    float: left;
    margin-top-left:10px;
    margin-top-right:10px;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;
}

#adinfo
{
    float:left;
    margin-left:10px;
    margin-top: 10px;
    width:90%;
    height:150px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #F2F2F2;
}
#adinfo table td img
{
    float: right; width:17px;height: 19px; 
}
#adinfoheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #F15A24; 
}
#resultinfo
{
}
#resultheader
{
    float: left;
    width: 100%;
    height: 40px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: #D9E021;  
}

#TV
{
    float:left;
    margin-left:10px;
    width:90%;
    height:180px;
    background-color: #F2F2F2;
} 
#TV img
{
    width: 100%;
    height: 100%;
}

#gallery
{
    float: left;
    /*    width:100%;*/
    width: 1020px;
    margin:0 0px;
    /*    padding: 15px 15px 15px 15px;*/
    padding: 14px;
    height:135px;
    background-color: #f2f2f2;
} 
#sub_gallery
{
    width: 950px;
    height: 110px;
    border: 1px;
    border-radius:10px;
    padding: 10px 30px 10px 30px; 
    background-color: #FFFFFF;
    box-shadow:3px 3px 10px 5px #666666;

}

#footer {
    color: #000000;
/*    background:#42453D url(../images/futter.png) left top repeat-x;*/
    margin-top:20px;
    height:380px;
    font-weight: bold;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer_div
{
    width:1000px;
    margin:0 auto;
    padding:35px 10px 0px 10px;
}
#clear
{
    clear:both;
}
