body{
    margin: auto;
    background-image: -moz-linear-gradient(center bottom , #CCE0FF, #FFFFFF);
}
#container {
    width : 100%;
    margin: 0 auto;
    background: #f0f0f0;
}
#employer_page
{
    float: left;
    width: 80%;
    margin: 0% 10%;
    border-top: 20px solid #335C85;
    border-right: 2px solid #335C85;
    border-left: 2px solid #335C85;
    border-bottom: 2px solid #335C85;
    border-radius: 10px;
    background: #fff;
}
#employer_header
{
    float:left;
    width:100%;
    height:90px;
	padding:10px;
    background:url(../employer_images/banner.jpg) left top no-repeat;
    margin: 20px 5px 5px 170px;
} 
#employer_menu
{
    float:left;
    width:100%;
    background:	#003366;
    border-bottom: 5px #4D7094 solid;
}
#employer_menu ul
{
    margin: 0;
    padding: 0;
    margin-left: 80px;
}

#employer_menu ul li
{
    display: inline;
	list-style-type:none;
    list-style-position:inside;
	text-align:center;
	

}

#employer_menu li a
{
    display: block;
    float: left;
    padding:6px 50px;
    font-size:12px;
    color:#A3C2C2;
	text-align:center;
    
    text-decoration: none;
    border-right:1px solid #A3C2C2;
}
#employer_menu li a:hover 
{
color:#fff; 


} 
#main
{
    float: left;
    width: 100%;
  background: -webkit-linear-gradient(#E3EDED,#C8DADA); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E3EDED,#C8DADA); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E3EDED,#C8DADA); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E3EDED,#C8DADA);
}

#employer_content
{
    float:left;
    margin:10px 0px;
    width:100%;
}
#left_panel
{
    float: left;
    width: 18%;
    margin-left: 5px;
}
#left_panel h3
{
    margin-left: 15px;
	padding-bottom: 10px;
}
#main_left
{
    float: left;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border:1px solid #3f3a30;
    border-bottom: 10px solid #000;
    margin-top: -5px;
}
#main_left_header
{
    float: left;
    width: 100%;
    height: auto;
    background: #001A33;
    border-bottom:10px solid #B2CCCC;
    padding-top:10px;
}
#main_left_header h2
{
    float:left;
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#fff;
	font-size:14pt;
} 
#main_left_content
{
     float: left;
    width: 100%;

    background: -webkit-linear-gradient(#001A33,#002E5C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#001A33,#002E5C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#001A33,#002E5C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#001A33,#002E5C);
    padding-bottom: 10px; 
}
#main_left_content ul li
{
    float: left;
    width: 100%;
    list-style-type:none;
    list-style-position:inside;
	text-align:center;
    margin-left: -20px;
    padding-bottom: 5px;
	border-bottom: 1px solid #A3C2C2;
	padding-top: 5px;
}
#main_left_content ul li a
{
    text-decoration:none;
    color:#A3C2C2;
}  
#main_left_content ul li a:hover
{
    text-decoration:none;
    color:#000;
} 
#acc_status
{
    border-top:10px solid #B2CCCC;
	border-bottom:10px solid #B2CCCC;
	float: left;
    width: 100%;
    height: auto;
    background:#001A33;
    padding-top: 5px;
}
#acc_status h2
{
    float:left;
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#fff;
	font-size:14pt;
  
} 
#acc_status_content
{
    
	float: left;
    width: 100%;
   
     background: -webkit-linear-gradient(#001A33,#002E5C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#001A33,#002E5C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#001A33,#002E5C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#001A33,#002E5C);
    padding-bottom: 10px; 
}
#acc_status_content ul li
{
    float: left;
    width: 100%;
    list-style-type:none;
    margin-left: -20px;
    text-align: center;
	border-bottom: 1px solid #A3C2C2;
	padding-bottom:10px;
	padding-top: 5px;
}
#acc_status_content ul li a
{
    text-decoration:none;
    color:#A3C2C2;
}  
#acc_status_content ul li a:hover
{
    text-decoration:none;
    color:#000;
}
#corporate
{
border-top:10px solid #B2CCCC;
	border-bottom:10px solid #B2CCCC;
    float: left;
    width: 100%;
    height:auto;
    background: #001A33;
	padding-top: 5px;
	color: #fff;
text-align: center;

}
#corporate h2
{
    float:left;
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#fff;
    margin-left: 2px;
    font-size: 14pt;
    padding-top: 0px;
} 
#corporate_content
{
    float: left;
    width: 100%;
   
    background: -webkit-linear-gradient(#001A33,#002E5C); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#001A33,#002E5C); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#001A33,#002E5C); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#001A33,#002E5C);
    padding-bottom: 10px; 
}
#corporate_content ul li
{
    padding-top: 5px;
	float: left;
    width: 100%;
    list-style-type:none;
    margin-left: -30px;
    text-align: justify;
	color: #A3C2C2 ;
	font-size:10pt;
	border-bottom: 1px solid #A3C2C2;
	padding-bottom:5px;
	padding-top: 5px;
}
#right_panel
{
    float: right;
    width: 80%;
}
#right_panel_header
{
    float: left;
    width: auto;
    height: 40px;
    background:#001A33;
    border-radius: 10px 10px 0px 0px;
    margin-top: 15px;
    margin-left: opx;
}
#employer_top
{
    float:left;
    width:auto;
}
#employer_top .left h3
{
    float:left;
    margin:5px;
    text-align:left;
    color:#fff;
    font-size:20px;
    width:100%;
} 
#employer_top .middle h3
{
    float:left;
    padding:5px 10px;
    margin:0px;
    font-size:16px;
    color:#003366;
    width:750px;
}  
#employer_top .right a
{
    float:right;
    margin:0px;
    width:100px;
    color:#006600;
    text-decoration:none;
}
#main_box
{
    float: left;
    width: 95%;
	border-radius:.2em;
    border: 8px solid #002929;
    margin-right: 1%;
     overflow: scroll;
padding:2px;
	 }
#main_box_header
{
    float: left;
    width: 100%;
    height: 85px;
    background: #001A33;
	padding-left: 15px;
	
}
#main_box_logout
{
    float: right;
    width: 100px;
    height: 30px;
	margin-right:50px;
    
	margin-top:20px;
	
}
#main_box_logout a
{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
#main_box_totaljobs
{
    float: left;
    width: 50%;
}
#main_box_totaljobs p
{
    color: #fff;
    margin-top: 0px;
}
#rightside
{
    float:right;
    padding:5px 10px;
    width:99%;
 
}  
#rightside table 
{
    width:100%;
    margin-left: 10px;
}
#rightside table tr th
{
    color:#000;
} 
#rightside table tr td
{
    color:#000;
    border-bottom: 1px solid #025568;
} 
#rightside_bottom
{
    width: 100%;
    height: 30px;
   
    margin-left: 2px;
}
#rightside_bottom_deletebox
{
    float: right;
    width: 80px;
    margin-top: 5px;
}
#rightside_bottomenu
{
    float: left;
    width: 100%;
    height: 50px;
    background: #001A33;
	
}
#rightside_bottomenu_post
{
    float: left;
    
    height: 25px;
    
    
    margin-top: 10px;
	margin-left:100px;
	
}
#rightside_bottomenu_post a
{
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
#rightside_bottomenu_post a:hover
{
    text-decoration: none;
    color: #000;
}
#rightside_bottomenu_showDelete
{
    float: left;
    
    height: 25px;
    margin-top: 10px;
  
}
#rightside_bottomenu_showDelete a
{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}
#rightside_bottomenu_showDelete a:hover
{
    text-decoration: none;
    color: #000;
}
#rightside_bottomenu_viewAll
{
    float: left;
    width: 120px;
    height: 25px;
    margin-top: 10px;

}
#rightside_bottomenu_viewAll a
{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}
#rightside_bottomenu_viewAll a:hover
{
    text-decoration: none;
    color: #000;
}
#rightside_bottomenu_next
{
    float: right;
    width: 80px;
    height: 25px;
    margin-top: 10px;
	margin-right:50px;
	}
#rightside_bottomenu_next a
{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}
#rightside_bottomenu_next a:hover
{
    text-decoration: none;
    color: #000;
}

