#container {
    width : 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f0f0f0;
}
#employer_page
{
    float: left;
    width: 80%;
    margin: 0% 10%;
    border-top: 20px solid #d7d7d7;
    border-right: 2px solid #d7d7d7;
    border-left: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
    border-radius: 10px;
    background: #fff;
}
#employer_header
{
    float:left;
    width:100%;
    height:100px;
    background:url(../employer_images/logo.png) left top no-repeat;
    margin: 20px 0px 0px 135px;
} 
#employer_menu
{
    float:left;
    width:100%;
    background: #025568;
    border-bottom: 5px #000 solid;
}
#employer_menu ul
{
    margin: 0;
    padding: 0;
    margin-left: 80px;
}

#employer_menu ul li
{
    display: inline;

}

#employer_menu li a
{
    display: block;
    float: left;
    padding:6px 20px;
    font-size:12px;
    color: #fff;
    font-weight:bold;
    text-decoration: none;
    border-right:1px solid #fff;
}
#employer_menu li a:hover {color:#000; } 
#main
{
    float: left;
    width: 100%;
    margin-top: -20px;
}

#employer_content
{
    float:left;
    margin:10px 0px;
    width:100%;
}
#left_panel
{
    float: left;
    width: 15%;
    margin-left: 10px;
}
#left_panel h3
{
    margin-left: 15px;
}
#main_left
{
    float: left;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    border:1px solid #3f3a30;
    border-bottom: 10px solid #000;
}
#main_left_header
{
    float: left;
    width: 100%;
    height: 30px;
    background: #025568;
    border-bottom:10px solid #000;
}
#main_left_header h2
{
    float:left;
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#fff;
} 
#main_left_content
{
    float: left;
    width: 100%;
    background: #cccccc;
    padding-bottom: 10px;
}
#main_left_content ul li
{
    float: left;
    width: 100%;
    list-style-type:none;
    list-style-position:inside;
    margin-left: -20px;
}
#main_left_content ul li a
{
    text-decoration:none;
    color:#025568;
}  
#main_left_content ul li a:hover
{
    text-decoration:none;
    color:#000;
} 
#acc_status
{
    float: left;
    width: 100%;
    height: 30px;
    background: #025568;
}
#acc_status h2
{
    float:left;
    margin-top:0px;
    text-align:center;
    width:100%;
    color:#fff;
} 
#acc_status_content
{
    float: left;
    width: 100%;
    background: #cccccc;
    padding-bottom: 10px;
}
#acc_status_content ul li
{
    float: left;
    width: 100%;
    list-style-type:none;
    margin-left: -20px;
}
#acc_status_content ul li a
{
    text-decoration:none;
    color:#025568;
}  
#acc_status_content ul li a:hover
{
    text-decoration:none;
    color:#000;
}
#corporate
{
    float: left;
    width: 100%;
    height: 30px;
    background: #025568;
}
#corporate h3
{
    float:left;
    margin-top:0px;
    text-align:left;
    width:100%;
    color:#fff;
    margin-left: 2px;
} 
#corporate_content
{
    float: left;
    width: 100%;
    background: #cccccc;
    padding-bottom: 10px;
}
#corporate_content ul li
{
    float: left;
    width: 120%;
    list-style-type:none;
    margin-left: -30px;
    text-align: justify;
}
#right_panel
{
    float: right;
    width: 100%;
    margin-top: -638px;
}
#right_panel_header
{
    float: right;
    width: 60%;
    height: 40px;
    background: #000;
    border-radius: 10px 10px 0px 0px;
    margin-top: 30px;
    margin-right: 244px;
}
#employer_top
{
    float:right;
    width:100%;
}
#employer_top .left h3
{
    float:left;
    margin:5px;
    text-align:left;
    color:#fff;
    font-size:20px;
    width:200px;
} 
#employer_top .middle h3
{
    float:left;
    padding:5px 10px;
    margin:0px;
    font-size:16px;
    color:#003366;
    width:750px;
}  
#employer_top .right a
{
    float:right;
    margin:0px;
    width:100px;
    color:#006600;
    text-decoration:none;
}
#main_box
{
    float: right;
    width: 81%;
    border: 5px solid #025568;
    margin-right: 1%;
}
#main_box_header
{
    float: left;
    width: 100%;
    height: 30px;
    background: #025568;
}
#main_box_logout
{
    float: right;
    width: 100px;
    height: 30px;
    background: #e6e6e6;
}
#main_box_logout a
{
    color: #ad2526;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}
#main_box_totaljobs
{
    float: left;
    width: 50%;
}
#main_box_totaljobs p
{
    color: #fff;
    margin-top: 0px;
}
#rightside
{
    float:right;
    padding:5px 10px;
    width:98%;
}  
#rightside table 
{
    width:100%;
}
#rightside table tr th
{
    color:#000;
} 
#rightside table tr td
{
    color:#000;
    border-bottom: 1px solid #025568;
} 
#rightside_bottom
{
    width: 100%;
    height: 30px;
    background: #f2f2f2;
    margin-left: 2px;
}
#rightside_bottom_deletebox
{
    float: right;
    width: 80px;
    margin-top: 5px;
}
#rightside_bottomenu
{
    float: left;
    width: 100%;
    height: 50px;
    background: #a5090a;
}
#rightside_bottomenu_post
{
    float: left;
    width: 100px;
    height: 25px;
    border: 2px solid #000;
    background: #fff;
    margin-top: 10px;
}
#rightside_bottomenu_post a
{
    color: #025568;
    text-decoration: none;
    margin-left: 5px;
}
#rightside_bottomenu_showDelete
{
    float: right;
    width: 180px;
    height: 25px;
    margin-top: 10px;
    margin-right: 350px;
}
#rightside_bottomenu_showDelete a
{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}
#rightside_bottomenu_viewAll
{
    float: right;
    width: 120px;
    height: 25px;
    margin-top: 10px;
    margin-right: -350px;
}
#rightside_bottomenu_viewAll a
{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}
#rightside_bottomenu_next
{
    float: right;
    width: 80px;
    height: 25px;
    margin-top: 10px;
    margin-right: -550px;
}
#rightside_bottomenu_next a
{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}
#employer_footer
{
    float:left;
    margin:10px;
    width:100%;
    height:20px;
    border:1px #3f3a30 solid;
    border-radius:5px;
}
