﻿body
{
    margin:0 auto;
    background: url('Images/bg.png') repeat-x left top ;
    
}
#container
{
	margin: 0 auto;
	width: 1000px;
}
#header
{ 
    padding: 0px;
    margin-top: 35px;
    
}

/*#banner
{
    width: 340px;
    height:76px;
    background-image: url('Images/logo.png');
}
#search
{
    float: right;
}
*/
#login
{
    text-decoration: none;
    color: #000000;
}
#vertical
{
    color: #FF9900;
    font-weight: 600;
}
#navigation
{
    float: left;
    margin: 5px 0px 10px 0px;
    width: 1000px;
    background: #4D4D4D;
    font-family: Euphemia;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	display: inline;
 
	
}

#navigation li a
{
    display: block;
    background: url('Images/menu.png') repeat-x;
    float: left;
    padding: 5px 10px;
    color: #FF9900;
    text-decoration: none;
    border-right:1px solid #000;
}

#navigation li a:hover
{
   
    color: #000000;
    background:#FFA800;
    height:33px;
    margin-top:-10px;
    border:1px;
    border-radius:10px 10px 0px 0px;
    
}
#animation
{
    float: left;
    width: 1000px;
    height: 300px;
    margin: 5px 0px 0px 0px;
    box-shadow: 3px 3px 10px 5px #999999;
    border-radius: 5px;
    background-image: url('Images/slider-img3.png');
}
#boxes
{
    float: left;
   height:248px;
   width:1000px;
   
   margin: 20px 0px 0px 0px;  
}
#box
{
    border:1px;
    border-radius:10px 10px 10px 10px;
    background-color: #00136E;
    float: left;
    height:248px;
    width: 215px;
    margin: 0px 17px 0px 17px;
    
}
#box1
{
    border:1px;
    border-radius:10px 10px 10px 10px;
    background-color: #009ED2;
    float: left;
    height:248px;
   width:215px;
   
   margin: 0px 17px 0px 17px; 
  
}
#box2
{
    border:1px;
    border-radius:10px 10px 10px 10px;
    background-color: #76B738;
    float: left;
    height:248px;
   width:215px;
   
   margin: 0px 17px 0px 17px;   
}
#box3
{
   border:1px;
    border-radius:10px 10px 10px 10px;
    background-color: #FFAA00;
    float: left;
    height:248px;
   width:215px;
   
   margin: 0px 17px 0px 17px;
}
#box-in
{
    margin: 50px 0px 0px 20px;
    overflow:scroll;
    height: 165px;
    border:1px;
    border-radius:0px 10px 10px 0px;
    
    
}
#btext
{
    font-family: Euphemia;
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
}
#stext
{
    margin-top:-30px;
    font-family: Euphemia;
    font-size: small;
    color: #FFFFFF;
    
}
#add
{
    margin: 40px 0px 0px 0px;
    float:left;
    height: 247px;
    width: 1000px;
    
    
}
#add_item1
{
    margin: 0px 0px 0px 10px;
    height: 247px;
    width: 610px;
    float: left;
    background-color: #E7ECF2;
    border:1px;
    border-radius:10px 10px 10px 10px;
    
}
#add_item2
{
    margin: 0px 0px 0px 10px;
    height: 247px;
    width: 350px;
    float: left;
    background-image: url('Images/add1.png');
     
}
#foot-container
{
    margin: 30px 0px 0px 0px;
    float:left;
    width: 100%;
    height: 325px;
    background-color: #61656E;
}
/*
#foot1
{
    float: left;
    height: 200px;
    width: 245px;
    
}
#vertical-line
{
    float:left;
    width: 3px;
    height: 190px;
}
*/


#content-container
{
    margin: 30px 0px 0px 0px;
	float: left;
	width: 1000px;
	margin-bottom:10px;
}

#section-navigation
{
	float: left;
	width:190px;
	height:150px;
	padding:0px;
	margin: 0px;
	background:#e1eae9;
	border:1px solid e1eae9;
	border-radius:10px;
}

#section-navigation h2
{
	float: left;
	width:190px;
	padding:0px;
	margin: 0px;
	text-align:center;
	font-size:14px;
	color:#FFFFFF;
	background:#191b1a;
	border:1px solid #191b1a;
	border-radius:10px 10px 0px 0px;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}
#content1
{
   border:1px;
    border-radius:10px 10px 10px 10px;
    background-color: lightslategray;
}
#details
{
    border:1px;
    border-radius:10px 10px 10px 10px;
    background-color:#999999;
}
#registration{
    
    border:1px;
    border-radius:10px 10px 10px 10px;
    background-color:  lightgrey;
}
#add_item1_1{
    border:1px;
border-color: #FF9900;
border-style: solid;
    border-radius:10px 10px 0px 0px;
    background-color: #E5EEF9;
    
    
}