
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
#section-navigation ul
                {
                    margin: 0;
                    padding: 0;
                }

                #section-navigation ul li 
                {
                    padding-left:0px;
                    padding-bottom: 3px;
                    list-style-type:none;
                    list-style-position:inside;
                    border-bottom:#75A3A3 solid 1px;
                }
                #section-navigation  li a
                {
                    color:#75A3A3;
                    font-size:11px;
                    padding: 0px 10px;
                    font-family:Geneva, Arial, Helvetica, sans-serif;
                    text-decoration:none;
                    list-style-type:circle;
                }
                #section-navigation  h2
                {
                    color:#75A3A3;
                    margin-top: 0px;
                    font-size:14px;
                    padding: 5px 10px 0px 10px;
                }
                #section-navigation  li a:hover
                {
                    color:#fff;
                }