
#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 200px;
	padding: 0px 0;
	margin: 0 0px 0 0;
	display: inline;
}

#aside h3 { margin: 0; }

#hr
{
border:#FF9900 solid 2px;
}
#h
{
border:#666666 dotted 1px;
}

#searchform
{
    float: right;
    margin-top: 40px;
}

#table
{
width:800px;
margin-top:-20px;
}
#table tr th
{
background-color:#FFFFFF;
color:#336699;
border:#336699 solid 1px;
}
#table tr td
{
padding:5px;
color:#000000;
font-size:12px;
font-weight:bold;
border:#CCCCCC solid 1px;
}
#table1
{
width:400px;
margin-top:0px;

}
#table1 tr td
{
padding:5px;
color:#003366;
font-size:12px;
border:#CCCCCC solid 1px;
}
#table2
{
width:200px;
margin-top:0px;

}
#table2 tr th
{
padding:5px;
color:#003366;
font-size:12px;
border:#CCCCCC solid 1px;
background-color:#99CCFF;
}
#table2 tr td
{
padding:5px;
color:#003366;
font-size:12px;
border:#CCCCCC solid 1px;
}