body
 {
 margin:0 auto;
 background:#f2f2f2 url(../images/header.png) left top repeat-x;
 } 
#container
{
	margin: 0 auto;
	width: 1000px;
}

#header
{
	padding:0px;
	margin-top:30px;
}

#header h1 { margin: 0; }

#navigation
{
	float: right;
	margin:0px 0px 10px 0px;
	width:1000px;
	position:absolute;
	z-index:1;
}

#navigation ul
{
	margin: 0;
	padding: 0;
	float: right;
}

#navigation ul li
{
	display: inline;
	
}

#navigation ul li a
{
	display: block;
	background:url(../images/button.png) left repeat-x;
	float: left;
	padding: 10px 10px;
	font-size:12px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
	border-right: 2px solid #6F8C49;
}

#navigation li a:hover { background:#662d91; }
#menu_down
 {
 float:left;
 width:1000px;
 height:40px;
 background:#662d91;
 margin:10px 0px 0px 0px;

 }
 #top_div
 {
 float:left;
 width:1000px;
 }
 #top_form
 {
 float:left;
 width:310px;
 height:290px;
 background:url(../images/rightbox.png) no-repeat;
 }
  #animation
 {
 float:right;
 margin-right:-30px;
 width:720px;
 background:url(../images/ani.png);
 }

#empty
  {
  float:left;
  width:1000px;
  padding-bottom:10px;
  }
#content-container
{
	float: left;
	margin-top:20px;
	width: 1000px;
    box-shadow:3px 3px 10px 5px #666666;
	background:#FFFFFF;
}

#content
{
	float: left;
	margin-top:-4px;
	width:1000px;
	background:url(../images/med.png) left top repeat-x;
}
 .left {
	float: left;
	padding:2px;
	border:#CCCCCC solid 1px;
	margin:0px 10px 0px 0px;
	
}
 .right {
	float: right;
	padding:2px;
	border:#CCCCCC solid 1px;
	margin:0px 10px 0px 0px;
	
}

#sidebar
  {
  float:left;
  margin-top:15px;
  width:250px;
  }
  #sidebar h2
  {
  color:#FFFFFF;
  margin:0px 20px;
  text-align:center;
  padding:3px 20px 0px 20px;
  font-size:16px;
  height:30px;
  background:url(../images/left-button.png) no-repeat;
  }
 #sidebar ul
  {
  margin-top:0px;
  padding:0px;
  }  
  #sidebar ul li
  {
  list-style-type:none;
  height:38px;
  background:url(../images/left-menu1.png) no-repeat;
  border:1px;
  border-radius:10px;
  } 
  #sidebar ul li a
  {
  display:block;
  padding:0px 0px 0px 35px;
  text-decoration:none;
  color:#FFFFFF;
  } 
 #sidebar ul li a:hover
  {
  text-decoration:underline;
  color:#003333;
  } 
#content_tourism
  { 
  float:left;
  margin-top:10px;
  width:740px;
  background:url(../images/bg.png) no-repeat;
  }
#content_tourism h1
  {
  color:#5b920f;
  } 
 #content_tourism p
  {
  color:#333333;
  margin-right:10px;
  padding:0px 15px;
  text-align:justify;
  }
 #content_tourism  a
  {
  float:right;
  text-decoration:none;
  }
 .rightmenu
   {
   background:url(../images/hotel-menu.png) no-repeat;
   height:286px;
   }
  .rightmenu ul 
    {
	margin:0px; 
	} 
	.rightmenu ul li
    {
	list-style-type:none;
	} 
	.rightmenu ul li a
    {
	float:right;
	display:block;
	padding-right:20px;
	color:#FFFFFF;
	} 
 #gallery
   {
   width:980px;
   margin:0 10px;
   height:150px;
   border:#3e7b25 solid 1px;
   margin-bottom:10px;
   } 
 #gallery h2
   {
   width:960px;
   color:#FFFFFF;
   margin-top:0px;
   padding:5px 10px;
   font-size:14px;
   background:#3e7b25;
   height:20px;
   }   
 
#footer {
	color: #FFFFFF;
	background: #42453D url(../images/footer.png) left top repeat-x;
	margin-top:20px;
	height:380px;
	font-weight: bold;
}
#footer p {
	margin: 0;
	padding: 0;
}
#footer_div
  {
  width:1000px;
  margin:0 auto;
  padding:35px 10px 0px 10px;
  }
#clear
 {
 clear:both;
 }
